body.woocommerce {
	&.post-type-archive {
		#primary.with-sidebar {
			padding-bottom: 0;

			.site-content {
				padding-top: 0;
			}

		}

		.woocommerce-result-count {
			display: none;
		}
	}
}


.woocommerce-info.no-products {
	@include font-brutal( medium );

	width: 100%;
	font-size: 26px;
	line-height: 1.4;
	font-weight: bold;
	text-align: center;
	background: none !important;
	margin-bottom: 0;

	ul & {
		padding: 0 $window-border;
	}
}