.woocommerce-pagination {
	position: relative;
	text-align: center;
	margin: -1px -20px 0 -20px;
	padding: 20px 100px;
	background: #fff;
	border-top: 1px solid #f2f1f1;
	font-size: 0;

	@include screen( phone ) {
		margin-top: 0;
		border: none;
	}

	a, 
	span {
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		vertical-align: top;
		padding: 0 10px;

		&.current {
			color: $color-yellow;
		}

		&.prev {
			float: left;
			margin-left: 0;
			position: absolute;
			left: 20px;
		}

		&.next {
			float: right;
			margin-right: 0;
			position: absolute;
			right: 20px;
		}
	}
}