.woocommerce ul.products {
	@include no-lst;

	margin-left: -$grid-gutter-width/2;
	margin-right: -$grid-gutter-width/2;

	&.list {
		@include clearfix;

		display: block !important;
		
		.product {
			@extend .col-xs-12;

			border-top: 1px solid $color-bg-gray;

			&:first-child {
				border: none;
			}
			
			.row {
				position: relative;
			}
		}

		.product-content-wrapper {
			padding-right: 100px + $window-border;
			padding-bottom: 60px;
		}

		.product-meta {
			@include clearfix;

			width: 100px;
			position: absolute;
			right: $window-border;
			top: 0;
			height: 100%;
		}

		.desktop-product-price {
			float: right;

			.price {
				del {
					top: 24px;
					position: absolute;
					right: 0;
				}
			}
		}
		
		.product-link-more {
			position: absolute;
			right: 0;
			bottom: 16px;
		}

		@include screen( phone ) {
			.product {
				padding-bottom: 0;
			}
			.product-thumbnail {
				padding-left:  $grid-gutter-width/4;
				padding-right: $grid-gutter-width/4;
			}
			.product-content-wrapper {
				padding-left:  $grid-gutter-width/4;
				padding-right: $grid-gutter-width/4;
				padding-bottom: 0;
			}
			.product-meta {
				position: static;
			}
			.product-link-more {
				position: static;
				margin-top: -5px;
				margin: -5px 0 0 -5px;

				a {
					display: inline-block;
					padding: 5px 5px 20px;
				}
			}
			.product-quantity {
				position: static;
				clear: both;
				margin: 0 $window-border;
			}
			.desktop-product-price {
				display: none;
			}
			.mobile-product-price {
				display: block;
			}
		}
	}

	&.grid {
		display: flex !important;
		flex-wrap: wrap;
		align-content: stratch;

		.product {
			border-bottom: 1px solid $color-bg-gray;
			border-right: 1px solid $color-bg-gray;
			padding-bottom: 35px;
			position: relative;	

			.row > * {
				@extend .col-xs-12;
			}
		}
		.product-meta {
			@include clearfix;

			position: absolute;
			bottom: 11px;
			left: 0;
			width: 100%;
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
		}

		.product-quantity {
			display: none;
		}

		.desktop-product-price {
			@include clearfix;

			float: left;

			ins {
				float: left;
			}
			del {
				float: right;
				margin-left: 5px;
			}
		}
		.product-link-more {
			font-size: 14px;
			float: right;
		}

		@include screen( phone-up ) {
			.product {
				&:nth-child(3n) {
					border-right: none;
				}
			}
		}

		@include screen( phone ) {
			.product {
				&:nth-child(2n) {
					border-right: none;
				}
			}
			.product-excerpt {
				color: #999;
			}
		}
	}

	.product {
		padding-top: 14px;
		padding-bottom: 3px;

		&:hover {
			.product-quantity { 
				visibility: visible;
			}
			.product-title {
				a {
					text-decoration: underline;
				}
			}
		}

		&.loading {
			.product-quantity { 
				visibility: visible;
			}
		}
	}

	.mobile-product-price {
		display: none;
	}


	.product-thumbnail {
		text-align: center;

		a {
			display: block;
		}
	}
	.product-title {
		@include font-brutal( bold );

		font-size: 20px;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		margin-right: 15px;
	}
	.product-header {
		padding-bottom: 14px;

		.onsale {
			display: inline-block;
			font-size: 14px;
			background-color: $color-yellow;
			vertical-align: middle;
			padding: 0 7px;
			height: 20px;
			line-height: 20px;
		}
	}

	.product-content-wrapper {
		position: static !important;
	}

	.product-quantity {
		position: absolute;
		left: 33.3333%;
		margin-left: 20px;
		bottom: -3px;
		visibility: hidden;
		// transition: visibility .1s;

		@include screen( phone ) {
			visibility: visible;
		}
	}

	.product-price {
		@include font-brutal( bold );

		.price {
			position: relative;
			display: block;

			del {
				@include font-brutal( light );
			}
		}

		del,
		ins {
			display: block;
			background: none;
			color: #000;
		}
	}

	&.cart-items {
		.price {
			text-align: right;
		}
	}

	.product-link-more {
		@include font-brutal( medium );

		a {
			color: #ffcc33;

			&:hover {
				color: #000;
				text-decoration: underline;
			}
		}
	}

	@include screen( phone ) {
		.product-title {
			font-size: 14px;
			margin-right: 0;
		}
		.product-price {
			font-size: 14px;
			padding-bottom: 5px;
		}
		.product-excerpt {
			font-size: 12px;

			p {
				margin-bottom: 10px;
			}
		}
		.product-link-more {
			font-size: 12px;
		}
		.product-header {
			padding-bottom: 7px;
		}
		
	}
}
