body.home {
	.entry-header {
		background-color: $color-yellow;
	}

	$header: 80px;
	$footer: 240px;

	#primary {
		margin: 0;
	}
	.entry-title {
		@include font-brutal( medium );

		font-size: 60px;
		display: table-cell;
		vertical-align: bottom;
		padding-bottom: 23px;

	}
	#content {
		height: 100vh;
		min-height: $header + $footer + 500;
		margin-top: -$header;
		border-top: $header solid $color-yellow;
		border-bottom: $footer solid $color-yellow;
		margin-bottom: -$footer;

		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 0;
		position: relative;

		.content-inn {
			display: table;
			height: 100%;
			width: 100%;
		}
		.content-inn-inn {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.front-social-block {
		position: absolute;
		right: 1px;
		top: 50%;
		transform: translateY( -50% );
		text-align: center;

		.social-item {
			background-color: #000000;
			display: block;
			width: 36px;
			height: 36px;
			margin-bottom: 1px;

			&:hover {
				background-color: #fff;
			}

			@each $icon, $width, $height in ( facebook, 10px, 19px ),
						   ( google_plus, 23px, 18px ),
						   ( instagram, 19px, 19px ),
						   ( twitter, 18px, 14px ) {
				&.#{$icon} {
					&:before {
						@include sprite-svg( "social_#{$icon}" );

						width: $width;
						height: $height;
					}

					&:hover {
						&:before {
							@include sprite-svg( "social_#{$icon}_hover" );
						}
					}
				}
			}

			&:before,
			&:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
			}

			&:before {
				
			}

			&:after {
				height: 36px;
				width: 0;
			}
		}
	}

	// @include screen( phone ) {
	// 	$h: 114px;

	// 	.entry-title {
	// 		font-size: 30px;
	// 		padding-bottom: 18px;
	// 	}

	// 	#primary {
	// 		.wrapper {
	// 			height: $h;
	// 		}
	// 	}
	// 	.entry-thumbnail {
	// 		$top: $h + 66px;

	// 		margin-top: -$top;
	// 		border-top-width: $top;
	// 	}
	// }
	
	.front-bottom-links {
		background-color: $color-yellow;

		.wrapper {
			height: $footer;
			background-color: transparent !important;

			&:before {
				content: '';
				height: $footer;
				width: 0;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.link-item {
			@include font-brutal( bold );

			width: 33.33%;
			display: inline-block;
			vertical-align: middle;
			text-align: center;

			.icon {
				display: inline-block;
				margin-bottom: 13px;

				&.tires {
					@include sprite-svg( tires );

					width: 77px;
					height: 82px;
				}
				&.mobile-service {
					@include sprite-svg( mobile_service );

					height: 81px;
					width: 101px;
				}
				&.our-service {
					@include sprite-svg( our_services );

					width: 82px;
					height: 81px;
				}
			}

			.title {
				display: block;
			}

		}
	}

	@include screen( 0, 500px ) {
		background-color: $color-yellow;

		#content {
			margin-top: 0;
			border: none;
			margin-bottom: 0;
			height: auto;
			min-height: 1px;
		}
		.front-bottom-links {
			text-align: center;

			.wrapper {
				height: auto;
				padding-top: 30px;
				padding-bottom: 15px;

				&:before {
					display: none;
				}
			}

			.link-item {
				width: auto;
				padding: 0 15px 15px;
			}
		}
	}
}

.front-filters-block {
	@include clearfix;

	max-width: 768px;
	width: 100%;
	padding-left: $window-border;
	padding-right: $window-border;
	margin: 0 auto;

	select,
	button {
		height: 48px;
	}

	select {
		border: 1px solid #999999;
		width: 100%;
	}

	$btn: 160px;

	button {
		width: $btn;
		margin-left: -$btn;
		float: left;
		text-transform: uppercase;
	}

	.block-title {
		@include font-brutal( bold );

		font-size: 36px;
		color: #fff;
		text-transform: uppercase;
		margin-top: -58px;
		margin-bottom: 8px;
	}

	.dropdown-filters {
		@include clearfix;

		$w: 100%;

		width: 100%;
		padding-right: $btn + 10;	
		float: left;	

		.dropdown-filters-inn {
			@include clearfix;

			margin: 0 -5px;
		}

		.filter-item {
			float: left;
			padding: 0 5px;
		}

		@for $i from 1 through 4 {
			&.count-#{$i} {
				.filter-item {
					width: $w/$i;	
				}
			}
		}
	}

	@include screen( phone ) {
		.dropdown-filters {
			padding-right: 0;
		}
		button {
			margin-left: 0;
			margin-top: 10px;
			width: 100%;
			max-width: 100%;
		}
	}

	@include screen( 0, 500px ) {
		padding-top: 20px;
		padding-bottom: 20px;

		.block-title {
			margin-top: 0;
			font-size: 28px;
		}
		.dropdown-filters {
			.filter-item {
				width: 100% !important;
				margin-top: 10px;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

