.entry-content {

	.left-bar {

		padding-right: 210px;
		overflow: hidden;

		@include screen( phone ) {
			padding-right: 0;
		}

	}
	.page-content {
		padding-right: 13%;
		width: 100%;
		float: left;

		@include screen( phone ) {
			float: none;
			padding-right: 0;
		}
	}

	.page-info {
		width: 210px;
		margin-right: -210px;
		float: right;

		@include screen( phone ) {
			float: none;
			width: 100%;
			margin-right: 0;
		}		
	}

	.gmpMapDetailsContainer {
		margin: ( - $window-border );
		margin-top: 20px;
	}
}