body.page-template-service {
	$w: 225px;

	.page-header {
		position: relative;
		padding-right: 300px;
	}

	.page-phone {
		position: absolute;
		right: $window-border;
		top: 23px;
		font-size: 24px;
	}
	
	.entry-price {
		margin-left: - $grid-gutter-width/2;
		padding-left: $grid-gutter-width/2;

		margin-right: -$window-border;
		padding-right: $window-border;

		border-top: 1px solid $color-bg-gray;
		padding-top: 7px;

		font-size: 20px;

		.title {
			@include font-brutal( bold );
		}
	}

	@include screen( 0, 580px ) {
		.page-title {
			margin-bottom: 7px;
		}
		.page-header {
			padding-right: 0;
		}
		.page-phone {
			position: static;
			font-size: 18px;
		}
	}
}