body.single-product {

	#primary > .wrapper {
		&:before {
			content: '';
			width: 1px;
			height: 100%;
			background-color: $color-bg-gray;
			border-top: ( 71 + $desktop-content-top ) solid #fff;
			display: block;
			top: 0;
			left: 33.3%;
			position: absolute;
			z-index: 10;
		}
	}

	.page-header {
		height: 71px;
	}

	.woocommerce-message {
		padding-bottom: 20px;
	}

	.entry-thumbnail {
		padding-top: 20px;
	}
	.images {
		text-align: center;
	}

	.entry-summary {
		overflow: hidden;
		padding-bottom: 80px;
		// border-left: 1px solid #f2f1f1;
		padding-top: 20px;
	}	

	.product_title {
		margin-bottom: 0;
		font-size: 36px;
		display: table-cell;
		vertical-align: middle;
	}

	.product-header {
		display: table;
		width: 100%;

		.in-stock,
		.in-sale {
			display: table-cell;
			vertical-align: middle;
			text-align: right;

			span {
				display: inline-block;
				font-size: 14px;
				padding: 0 5px;
				white-space: nowrap;	
			}
			
		}

		.in-stock span {
			background: #c5f7bf;
			margin-left: 10px;
		}

		.in-sale span {
			background: #ffdd00;
		}	

	}

	.product-price {
		@include font-brutal( light );

		font-size: 30px;

		.price {
			float: left;
		}

		del {
			float: right;
			color: #999999;
		}

		ins {
			background: none;
			float: left;
			margin-right: 20px;
		}
	}

	.position-image {
		@each $icon, $class in ( drive, drive ),
							   ( steer, steerall-position ),
							   ( trailer, trailer ) {
			&.#{$class} {
				@include sprite-svg( "truck_#{$icon}" );

				width: 158px;
				height: 40px;
				margin-bottom: 15px;
			}
		}
	}

	.additional-info {
		padding-top: 20px;

		.shop_attributes {
			width: 100%;
			text-align: left;

			th, td {
				border-top: 1px solid #f2f1f1;
				border-bottom: 1px solid #f2f1f1;
				padding: 10px 0;

				p {
					margin: 0;
				}
			}

			th {
				padding-right: 10px;
			}
		}
	}

	.quantity-block {
		background: none;
		padding: 0;

		.left-col,
		.right-col {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			margin: 0;
		}

		.left-col {
			background: #f2f2f2;
			padding: 10px;
			text-align: center;
			border-right: 5px solid #fff;

			label {
				display: inline-block;
				line-height: 40px;
				font-size: 16px;
				margin-right: 20px;
			}
		}

		.right-col {
			border-left: 5px solid #fff;
			
			.button {
				height: 60px;
				width: 100%;
				margin-left: 0;

				.button-text {
					@include font-brutal( bold );
					
					display: inline-block;
					vertical-align: middle;
					font-size: 18px;
					margin-left: 10px;
				}
			}
		}

		@include screen( 0, 880px ) {
			.right-col {
				width: 40%;
			}
			.left-col {
				width: 60%;
			}
		}
	}

	@include screen( xs, sm ) {
		#primary > .wrapper {
			&:before {
				display: none;
			}
		}
		.entry-thumbnail {
			padding-right: $grid-gutter-width/4;
		}
		.entry-summary {
			padding-left: $grid-gutter-width/4;
		}
		.quantity-block {
			.left-col {
				label {
					display: none;
				}
			}
			.right-col {
				.button {
					.button-text {
						display: none;
					}
				}
			}
		}
	}

	@include screen( 0, xs ) {
		#primary > .wrapper {
			&:before {
				display: none;
			}
		}
		.product {
			padding-bottom: 64px;
		}
		.entry-thumbnail  {
			padding-bottom: 20px;
		}
		.entry-summary {
			border-left: none;
		}		
		.product-header {
			display: block;
			position: relative;
			padding-bottom: 10px;

			.in-stock {
				position: absolute;
				right: 0;
				bottom: -28px;
			}
		}
		.product_title {
			font-size: 24px;
			display: block;
		}
		.product-price {
			font-size: 24px;
		}
		.entry-content {
			font-size: 14px;
			color: #000;
		}
		.quantity-block {
			padding-bottom: 18px;

			.left-col,
			.right-col {
				width: 100%;
				display: block;
				border: none;
			}

			.left-col {
				margin-bottom: 25px;
			}
		}
		.additional-info {
			font-size: 14px;

			h3 {
				font-size: 18px;
			}
		}
	}
}
