.cart-box-header {
	a {
		display: inline-block;
		line-height: 80px;
		width: 100%;
		text-decoration: none;
		font-size: 0;
		min-width: 116px;

		&:after,
		&:before,
		span {
			content: '';
			display: inline-block;
			vertical-align: middle;
		}

		span {
			@include font-brutal( medium );

			font-size: 18px;
			margin-right: 10px;
		}

		&:hover {
			span {
				text-decoration: underline;
			}
		}

	}

	&.active {
		a {
			background: #ffffff !important;
		}
	}

	@include screen( phone-up ) {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		line-height: 100%;
		text-align: center; 

		a {
			&:after {
				@include sprite-svg( cart_icon );

				width: 30px;
				height: 28px;
			}
		}
	}

	@include screen( sm, 986px ) {
		a {
			min-width: 90px;
		}
	}

	@include screen( phone ) {
		&.active {
			a {
				background-color: #fff;
			}
		}

		a {
			padding-left: $window-border + 8;

			&:before {
				@include sprite-svg( cart_icon );

				width: 30px;
				height: 28px;
				margin-right: 10px;
			}
		}
	}
}
