/* =========================================
	 Header
===========================================*/

#site-header {
	background-color: $color-yellow;
	z-index: 10;
	position: relative;

	.wrapper {
		height: 80px;
	}

	#site-title {
		position: absolute;
		left: $window-border;
		top: 10px;
		display: block;
	}

	img {
		width: 225px;
		height: 60px;
	}

	@include screen( phone ) {
		.wrapper {
			height: 66px;
		}
		#site-title {
			top: 13px;
		}
		
		img {
			height: 40px;
			width: 153px;
		}
	}
}


#site-mobile-header {
	position: relative;
	display: none;
	background-color: $color-bg-gray;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	height: 59px;
	z-index: 10;

	.site-title {
		
		.site-desc {
			display: block;
		}
		br {
			display: none;
		}
	}

	@include screen( phone ) {
		display: block;
	}
}