#primary-navigation .login-button {
	@include font-brutal( medium );

	display: block;

	&:before {
		@include sprite-svg( user_icon );

		position: absolute;
		display: block;
		content: '';
		height: 19px;
		width: 19px;
	}

	span {
		display: block;
		padding-left: 8px;
	}

	@include screen( phone ) {
		$left: 8 + $window-border;

		padding-left: $left + 19;
		padding-top: 17px;
		padding-bottom: 16px;
		position: relative;
		width: 100%;

		body.logged-in & {

		}

		&:before {
			left: $left;
			top: 19px;
		}
	}

	@include screen( phone-up ) {
		$left: 32px;

		position: absolute;
		left: 100%;
		top: 0px;
		padding-left: $left + 19;
		padding-right: $left;
		padding-top: 27px;
		height: 80px;
		font-size: 18px;
		text-transform: uppercase;

		&:before {
			left: $left;
			top: 29px;
		}

		span {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 100px;
		}

		body.woocommerce-account & {
			background-color: #fff;
		}
	}

	@include screen( sm, 1368px ) {
		right: 116px;
		left: auto;
		font-size: 16px;
	}

	@include screen( 986px, 1368px ) {
		padding-top: 29px;
		padding-right: 29px;
		// padding-right: 22px;

		span {
			width: 110px;
		}

		body.logged-in & {
			padding-right: 22px;
			padding-left: 46px;

			&:before {
				left: 24px;
			}
		}
	}

	@include screen( sm, 986px ) {
		$left: $window-border;
		
		right: 90px;

		&:before {
			left: 50%;
			margin-left: -10px;
		}

		span {
			padding: 0;
		}

		body.logged-in & {
			padding-top: 42px;
			padding-left: $left;
			padding-right: $left;

			&:before {
				top: 18px;
			}
		}
	}
}

@include screen( phone-up ) {
	#primary-navigation .account-navigation {
		.woocommerce-MyAccount-navigation {
			display: none;
		}
	}
}

@include screen( phone ) {
	#primary-navigation .account-navigation {
		
		text-transform: uppercase;

		.login-button {
			min-height: 56px;
		}

		body.woocommerce-account & {
			background-color: #E6E6E6;
		}

		.woocommerce-MyAccount-navigation {
			border: none;

			li {
				a {
					border: none;
					font-size: 13px;
					padding-top: 12px !important;
				}

				&.is-active {
					background-color: #fff;
				}
			}
		}
	}
}
