/* ==========================================================================
	Primary site navigation
========================================================================== */


#primary-navigation {
	position: relative;
	z-index: 20;

	@include screen( phone ) {
		width: $mobile-menu-width;
		background-color: $color-bg-gray;
		border: 1px solid $color-bg-gray;
		position: fixed;
		z-index: 100;
		right: - $mobile-menu-width;
		top: 0;
		overflow-x: hidden;
		bottom: 0;
		min-height: 100%;
		transform: translate3d(0px, 0px, 0px);
		transition: transform 0.5s ease-in-out;
		padding: 0;

		body.admin-bar & {
			padding-top: $admin-bar-mobile;
		}
		body.mobile-menu-active & {
			transform: translate3d(-$mobile-menu-width, 0px, 0px);
		}

		body.logged-in & {
			background-color: #E6E6E6;

			.navigation-inn,
			.cart-box-header a {
				background-color: $color-bg-gray;
			}
		}


		li {
			&:first-child {
				a {
					padding-top: 12 + 7px;
				}
			}

			a {
				@include font-brutal( medium );

				font-size: 18px;
				display: block;
				padding-top: 12px;
				padding-bottom: 12px;
				padding-left: 8 + $window-border;
				padding-right: $window-border;
				text-transform: uppercase;
			}

			&.current-menu-item {
				a {
					background-color: #fff;
				}
			}
		}
	}

	@include screen( phone-up ) {
		.navigation-inn {
			text-transform: uppercase;
			position: absolute;
			top: 0;
			z-index: 20;
		}

		li {
			float: left;

			a {
				@include font-brutal( medium );
				
				display: table;
				height: 80px;
				padding: 0 $grid-gutter-width/2;

				span {
					display: table-cell;
					vertical-align: middle;
				}
			}

			&.current-menu-item a {
				border-bottom: 1px solid $color-bg-gray;
				background-color: #fff;
			}
		}
	}

	@include screen( sm, 986px ) {
	}

	@include screen( sm, 908px ) {
		.navigation-inn {
			left: 236px + $window-border;
		}
		li {
			a {
				padding: 0 10px;
			}
		}
	}

	@include screen( 908px, 986px ) {
		.navigation-inn {
			left: 242px + $window-border;
		}
	}

	@include screen( 986px ) {
		.navigation-inn {
			left: 330px + $window-border;
		}
	}


	ul {
		@include no-lst;
		@include clearfix;
	}

	li {
		display: block;

		a {
			text-decoration: none;
			width: 100%;
			position: relative;

			&:hover {
				text-decoration: underline;
			}
		}
		&.current-menu-item a {
			text-decoration: none;
		}
	}
}



@include screen( phone ) {
	#mobile-nav-toggler-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		width: 64px;
		height: 66px;
		background: $color-yellow;
		transition: background .3s;

		body.mobile-menu-active & {
			background-color: $color-bg-gray;
		}
	}
	#mobile-nav-toggler {
		@include mobile-toggler-default();
	}
}