body.woocommerce-checkout {
	#primary {
		margin-top: 20px;
		padding-top: 20px;
	}
}
.woocommerce-checkout-main {
	.woocommerce-info {
		display: none;
	}
	// #billing_country_field {
	// 	display: none;
	// }
}

form.woocommerce-checkout {
	position: relative;
	
	.wrapper {
		margin-bottom: 0;
		margin-top: 20px;
	}

	.woocommerce-checkout-review-order-inn {
		.wrapper {
			margin-top: 0;
		}
	}

	.woocommerce-invalid {
		input {
			border: 1px solid red;
		}
	}
}

.wrapper.register-section {
	margin-bottom: 60px;
	display: none;
}

.woocommerce-checkout {
	& > .woocommerce-error {
		@extend .wrapper;
		@include no-lst;

		margin: -20px auto 20px auto !important;

		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #ffdede !important;
	}
}

