#payment {
	.wc_payment_methods {
		@include clearfix;
		@include no-lst;

		list-style: none;
		border-bottom: 1px solid #f2f1f1;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;

		.wc_payment_method {
			display: none;
			position: relative;

			&.active {
				display: block;
			}

			input[name=payment_method] {
				display: none;
			}

			.payment_method_label {
				display: none;
			}
		}
	}
	
	@include screen( phone ) {
		.form-row.place-order {
			padding-left:  $grid-gutter-width/2 !important;
			padding-right: $grid-gutter-width/2 !important;
		}
	}
}


/*
form.checkout {
	.payment_box {
		.woocommerce_error {
			@include no-lst;

			font-size: 13px;
			margin-bottom: 20px;
			background-color: #ffdede;
			padding: 20px;
			display: none;

			&:first-child {
				display: block;
			}
		}
	}

	.checkout-section {
		.wc_payment_methods {

			.woocommerce_error {
				padding-bottom: 20px;
			}
		}
	}
}


*/