#payment li.payment_method_square {
	.woocommerce_error {
		@include no-lst;

		font-size: 13px;
		margin-bottom: 20px;
		margin-top: 0;
		background-color: #ffb8b8;
		padding: 20px;
		display: none;

		&:first-child {
			display: block;
		}
	}

	.payment_method_square {		
		position: relative;	
	}

	iframe {
		border: 1px solid #999999;
		height: 40px;
		background: #fff;
		box-shadow: none;
		line-height: 38px;

		input[type="text"],
		input[type="tel"]{
			background: #fff;
			padding: 0 10px;
		}

		&#sq-logo {
			display: none;
		}
	}

	.form-row {
		padding-left: 0;
		font-size: 16px;

		& > label:first-child {
			display: block;
			margin-left: 0;
			float: none;
			padding-bottom: 10px;
			width: 100%;
		}

		span.required {
			display: none;
		} 	
		small {
			display: block;
			font-size: 12px;
			padding-top: 5px;
		}
	}

	.payment_method_icons {
		img {
			width: 23%;
			max-width: 100px;
			height: auto;
			margin: 0 2% 2% 0px;

			@include screen( md ) {
				width: 44%;
				margin: 0 6% 6% 0;
			}
		}
	}

	.card-block {
		overflow: hidden;

		body.logged-in & {
			&.first {
				.form-row-code {
					position: absolute;
					left: -9999px;
					top: -9999px;
				}
			}
		}
	}


	@include screen( phone-up ) {
		$w: 686px;

		padding-right: $w;

		.payment_method_square {
			width: $w;
			margin-right: -$w;
			min-height: 340px;
			float: right;
			padding-bottom: 340px;
		}
		.payment_method_icons {
			float: left;
			padding-right: 20px;

			img {
				width: 44%;
				margin: 0 6% 6% 0;
			}
		}
		.card-block {
			width: 530px;
			height: 300px;
			position: absolute;
			border: solid 1px #ccc;
			border-radius: 20px;
			font-size: 0;
			background: #fff;

			p {
				font-size: 16px;
			}

			&.first {
				z-index: 1;
				left: 0;
				bottom: 40px;

				.fields {
					padding: 30px 50px 0 50px;

					.form-row-half {
						display: inline-block;
						vertical-align: top;
						width: 50%;
						margin-bottom: 0;

						// &.first {
						// 	padding-right: 25px;
						// }

						// &.last {
						// 	padding-left: 25px;
						// }

					}


				}
			}

			&.last {

				right: 0;
				bottom: 0;
				

				.fields {
					padding: 150px 30px 0 400px;				
				}

				&:after {
					content: '';
					position: absolute;
					height: 70px;
					background: #333333;
					left: -1px;
					right: -1px;
					top: 45px;
				}
			}
		}

	}

	@include screen( 800px, md ) {
		.payment_method_icons {
			img {
				width: 90%;
				max-width: 100px;
				margin: 0 10% 10% 0;
			}
		}
	}

	@include screen( sm, 800px ) {
		.payment_method_icons {
			position: absolute;
			right: 0;
			top: -55px;
			padding: 0;

			img {
				width: 50px;
				margin: 0;
			}
		}
		.payment_method_square {
			float: none;
		}
	}

	@include screen( phone ) {
		.card-block {
			position: relative;
		}
		.card-block,
		.fields {
			@include clearfix;

			clear: both;
			display: inline;

			.card-paying {
				display: none;
			}

			.form-row-expire {
				width: 60%;
				float: left;
				padding-right: $window-border / 2;
			}

			.form-row-cvv {
				width: 40%;
				float: left;
				padding-left: $window-border / 2;
			}
		}
		.payment_method_icons {
			padding-bottom: 10px;
			
			img {
				width: 50px;
				margin: 0 5px 0 0 !important;
			}
			// display: none;
		}
	}
}