.checkout-section {
	&.active {
		padding-bottom: 20px;

		.section-meta {
			display: none;
		}
		.section-content {
			display: block;
		}

		.section-title {
			.edit-btn {
				display: none;
			}
		}
	}

	&.shop_table {
		padding-bottom: 20px;

		.shipping-select-box {
			@include clearfix;

			span.amount {
				float: right;
			}
		}
	}

	.section-meta {
		padding-bottom: 20px;

		p {
			margin-bottom: 0;
		}
	}

	.section-header {
		padding: 18px 0 0;
		position: relative;
	}
	.section-title {
		position: relative;

		h3 {
			font-size: 30px;
		}
		.edit-btn {
			padding: 5px 10px;
			display: block;
			text-decoration: none;
			position: absolute;
			right: -10px;
			top: 0px;
			cursor: pointer;
			font-size: 0;

			@include screen(0,xs) {
				right: 10px;
			}

			&:before {
				@include sprite-svg( edit_icon );

				width: 14px;
				height: 15px;
				display: block;
				content: '';
			}
		}
	}

	.section-content {
		display: none;
		padding: 18px 0 0;
	}

	.entry-content &.woocommerce-checkout-review-order-table {
		table,
		td,
		tr,
		th {
			border: none;
			margin: 0;
			padding: 0;
		}

		table {
			width: 100%;
		}

		th {
			text-align: left;
			font-weight: normal;
		}
		tr {
			text-align: right;
		}
		td {
			line-height: 28px;
		}

		tfoot {
			tr {
				font-size: 20px;
			}
		}

		.section-meta {
			padding-bottom: 0;
		}
	}
}

.woocommerce-checkout-review-order {
	.wrapper {
		margin-bottom: 20px;
	}
}