.thankyou-page {
	.woocommerce-thankyou-order-details {
		@include no-lst;

		font-size: 18px;
		margin-bottom: 30px;

		strong {
			float: right;
			padding-left: 200px;
			margin-left: -200px;
			width: 100%;
		}

		li {
			@include clearfix;
		}

		@include screen( 0, 450px ) {
			font-size: 14px;

			strong {
				padding-left: 130px;
				margin-left: -130px;
			}
		}
	}
}

.order-details-wrapper {
	table {
		margin: 0 0 20px 0;
	}

	.shop_table {
		width: 430px;

		td,
		th {
			text-align: left;
		}

		tr {
			*:first-child {
				width: 200px;
			}
		}
	} 

	.col2-set {
		&.addresses {
			@include clearfix;

			.col-1 {
				min-width: 200px;
				padding-right: 45px;
			}

			.col-2 {
				padding-left: 45px;
			}

			.col-1,
			.col-2 {
				float: left;
				max-width: 50%;
			}

		}
	}
	@include screen( 0, 600px ) {
		.shop_table {
			width: 100%;

			tr {
				*:first-child {
					width: auto;
				}
			}
		}
		.col2-set {
			&.addresses {
				.col-1,
				.col-2 {
					width: 100%;
					float: none;
					padding: 0;
					max-width: 100%;
				}
			}
		}
	}
}