#page {
	background-color: #f2f2f2;
}

#primary {
	overflow: hidden;

	> .wrapper {
		min-height: 100vh;
	
		padding-top: $desktop-content-top;
		margin-top: -$desktop-content-top;

		padding-bottom: $desktop-content-bottom;
		margin-bottom: -$desktop-content-bottom;

		@include screen( phone ) {
			padding-top: $mobile-content-top;
			margin-top: -$mobile-content-top;

		}

		@include screen( 600px, sm ) {
			padding-bottom: $mobile-content-bottom;
			margin-bottom: -$mobile-content-bottom;
		}

		@include screen( 0, 600px ) {
			padding-bottom: 190px;
			margin-bottom: -190px;

			margin-bottom: -157px;
			padding-bottom: 157px;
		}

		> .wrapper-inn {
			position: relative;
		}
	}

	.wrapper {
		background-color: #fff;
	}

	@include screen( phone-up ) {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

#content-inn {
	@include clearfix;

	// position: relative;
	padding-bottom: 20px;

	$w: 225px;

	@include screen( phone ) {
		body.woocommerce & {
			padding-bottom: 0;
		}
	}

	&.with-sidebar {

		@include screen( phone-up ) {
			&:before {
				content: '';
				position: absolute;
				width: 1px;
				background-color: $color-bg-gray;
				height: 100%;
				top: 0;
				left: $w + $window-border;
				display: block;
				border-top: ( 80 + $desktop-content-top ) solid #fff;
			}
			.sidebar {
				width: $w;
				position: relative;
				z-index: 1;
			}

			.site-content {
				padding-top: 18px;
				width: 100%;
				padding-left: $w + $window-border;
				margin-left: -$w;
				float: left;
			}
		}

		@include screen( phone ) {

		}
	}
}