.page-header {
	border-bottom: 1px solid $color-bg-gray;
	margin: 0 (-$window-border);

	padding: 22px $window-border 25px;

	.thankyou-page & {
		border-bottom: none;
	}

	.page-template-default & {
		border-bottom: none;
	}

	.page-title {
		@include font-brutal( medium );

		font-size: 30px;
		margin-bottom: 0;
	}

	@include screen( phone ) {
		padding-top: 28px;
		padding-bottom: 28px;
	}
}