.sidebar-left {
	@include screen( phone-up ) {
		float: left;
	}

	@include screen( phone ) {

	}
}

.sidebar-navigation {
	@include no-lst;

	margin-left: -$window-border;
	width: 100%;

	li {
		display: block;

		&.active {
			> a,
			> span {
				background-color: $color-yellow;
			}
		}

		> a,
		> span {
			padding-top: 9px;
			padding-left: $window-border;
			display: block;
			padding-bottom: 11px;
		}
	}

	@include screen( phone ) {
		@include clearfix;

		width: auto;
		margin-right: -$window-border;
		border-bottom: 1px solid $color-bg-gray;
		margin-bottom: 22px;

		li {
			float: left;
			width: 33.33%;
			text-align: center;

			> a,
			> span {
				padding-left: 0;
			}
		}
	}
}