.tab-item {
	display: none;
	height: 0;

	&.active {
		display: block;
		height: auto;
	}
}

.block-nav-tabs {
	@include no-lst;

	.tab-nav {
		@include font-proxima-nova( light );

		cursor: pointer;
	}

	// @include screen( phone ) {
	// 	display: none;
	// }
}