body.woocommerce-cart {
	.page-header {
		position: relative;

		.link-back-to-shop {
			position: absolute;
			right: $window-border;
			top: 36px;

			@include screen( phone-up ) {
				display: none;
			}
		}
	}

	.entry-content > .woocommerce {
		padding-bottom: 88px;
		position: static;
	}
}

.woocommerce ul.products.cart-items {
	&.list {
		.product-header,
		.product-excerpt {
			position: relative;
			z-index: 10;
		}

		.product-header {
			.product-price {
				font-size: 20px;
				margin-top: 10px;

				del {
					@include font-brutal( normal );

					color: #999999;
				}
			}
		}

		.product-meta {
			z-index: 0;
			width: auto;
			left: 33.3333%;
			margin-left: 20px;
			bottom: 0;
			top: auto;
			height: 60px;

			.product-link-more {
				bottom: 15px;
				left: 0;
				font-weight: 400;
			}

			.product-quantity {
				visibility: visible;
				margin-left: 135px;
				left: 0;
			}

			.product-price {
				right: 0;
				bottom: 15px;
				position: absolute;
				line-height: 20px;

				.price {
					@include font-brutal( light );

					span.amount {
						@include font-brutal( bold );

						font-size: 20px;
						display: inline-block;
						width: 100px;
						text-align: right;
					}
				}
			}


			@include screen( phone ) {

				position: static;
				height: auto;
				margin-left: 0;

				.product-link-more {
					position: static;
					float: left;

					a {

						width: 60px;
						height: 60px;
						padding: 22px;
						display: block;
						text-indent: 9999px;
						position: relative;
						overflow: hidden;	

						&:before {
							display: block;
							content: "";
							@include sprite-svg( close );
							position: absolute;
							width: 16px;
							height: 16px;
							left: 50%;
							top: 50%;
							margin-left: -8px;
							margin-top: -8px;
						}
					}

				}

				.product-quantity {
					position: static;
					float: right;
					margin-left: 0;
					margin-right: 0;
					clear: none;
				}

				.product-price {
					position: static;
					overflow: hidden;
					width: 100%;
					padding: 10px 0;

					.price {
						text-align: left;
						overflow: hidden;
					}

					span.amount {
						float: right;
					}
				}

			}
		}
	}

	.product-link-more {
		a {
			color: #666666;

			&:hover {
				color: #ff0000;
			}
		}
	}

	.product-link-more {
		/*display: none;*/
	}

	.product {
		&:hover {
			.product-link-more {
				display: inline-block;
			}
		}
	}

	.product-content-wrapper {
		padding-right: $window-border;

		@include screen( phone ) {
			padding-left: $window-border;
		}
	}
}


.update-button,
.checkout-button {
	@include font-brutal( bold );

	height: 70px;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	color: #000;
	width: 300px;
	display: table;
	background-color: $color-yellow;
	border: none;
	cursor: pointer;

	&:hover {
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}

	@include screen( phone) {
		width: 100%;
	}

	span {
		display: table-cell;
		vertical-align: middle;
		margin: auto;
	}

	&#place_order {
		margin-left: 0;

		&:before {
			display: inline-block;
			content: "";
			@include sprite-svg( lock_icon );
			width: 11px;
			height: 14px;
			margin-right: 10px;
		}

		&:hover:before {
			@include sprite-svg( lock_icon_white );
		}
	}
}

button.checkout-button {
	display: inline-block;

	span {
		display: inline;
	}
}

.woocommerce {
	p.cart-empty {
		padding: 20px 0;
	}

	& > .woocommerce-message {
		display: none;
	}
}