.cart_totals {
	position: static !important;
}
.cart-totals-wrapper {
	@include clearfix;

	$w: 230px;

	padding-top: 22px;
	padding-bottom: 23px;

	.cart-totals-message {
		padding-right: $w;
		width: 100%;
		float: left;
		font-size: 14px;
		padding-top: 12px;
	}

	.cart-totals-block {
		font-size: 24px;
		text-align: left;

		.shipping,
		.cart-clients-dropdown {
			h3 {
				line-height: 40px;
				font-size: 30px;
				margin-bottom: 0;

				@include screen( phone ) {
					margin-bottom: 15px;
				}
			}
		}

		.shipping {
			@include clearfix;

			.shipping-select-box {
				font-size: 16px;
				line-height: 38px;
				position: relative;
				padding-bottom: 34px;

				&.has-counter {
					padding-bottom: 0;
				}
			}			
		}

		.cart-clients-dropdown {
			padding-top: 25px;
			padding-bottom: 25px;
			margin-top: 25px;
			border-top: 1px solid $color-bg-gray;
		}

		.total-item {
			@include font-brutal( bold );

			text-align: right;

			$b: $window-border;

			margin-left: -$b;
			margin-right: -$b;
			padding-left: $b;
			padding-right: $b;
			padding-top: 19px;
			border-top: 1px solid $color-bg-gray;
			font-size: 20px;

			.total {
				font-size: 24px;
			}
		}

		.select2-container .select2-choice {
			border-radius: 0;
			border-color: #999999;
		}

		> span,
		.total-item strong {
			display: inline-block;
			width: 100px;
			padding-left: 5px;
		}

		#shipping_method {
			@include no-lst;
			
			font-size: 14px;
		}
	}

	.product-quantity {
		@include clearfix;

		padding-top: 28px;
		position: relative;

		.label {
			width: 135px;
		}
		.quantity-block {
			height: 60px;
		}
		.product-price {
			@include font-brutal( light );

			.price {
				span.amount {
					@include font-brutal( bold );

					font-size: 20px;
					display: inline-block;
					width: 100px;
					text-align: right;
				}
			}

			line-height: 20px;
		}

		@include screen( phone-up ) {
			margin-bottom: -34px;

			.label {
				float: left;
				padding-top: 12px;
			}

			.product-price {
				position: absolute;
				right: 0;
				top: 47px;
			}
			.quantity-block {
				float: left;
			}
		}

		@include screen( phone ) {
			text-align: right;

			.product-price {
				clear: both;
				text-align: left;
				padding: 10px 0;

				.price {
					@include clearfix;

					display: block;
					font-size: 14px;

					span {
						float: right;
					}
				}
			}
			.label,
			.quantity-block {
				display: inline-block;
				vertical-align: middle;
			}
			.label {
				text-align: left;
			}
		}
	}
}

.top-cart-subtotal {
	font-size: 24px;

	> span {
		display: inline-block;
		min-width: 80px;
		padding-left: 10px;
	}
}

body.woocommerce-cart .woocommerce {
	position: relative;
	z-index: 10;

	.top-cart-subtotal {
		text-align: right;
		position: absolute;
		top: -56px;
		right: 0;
	}

	.actions {
		text-align: right;
		padding-top: 20px;
		display: none;

		.update_cart {

			@include font-brutal( bold );
			height: 35px;
			padding: 0 20px;
			text-align: center;
			font-size: 16px;
			color: #000;
			background-color: $color-yellow;
			border: none;
			cursor: pointer;

			&:hover {
				background-color: #000;
				color: #fff;
			}	

			&:disabled {
				background-color: $color-yellow;
				color: #000;
				@include opacity(0.7);
				cursor: default;
			}		
		}
	}
}