
.select-shipping-container {
	float: left;
	position: relative;

	$height: 40px;

	height: $height;
	max-height: $height;

	.select-shipping {
		padding-top: $height;
		text-align: left;
		position: relative;
		height: $height;
		overflow: hidden;
		width: 300px;
		border: 1px solid #b4b4b4;
		background: #fff;

		&.active {
			height: auto;
			overflow: auto;
		}

		li {
			position: static;
			width: 100%;
		}

		input[type="radio"]{
			display: none;
		}

		label {
			height: $height;
			line-height: $height;
			width: 100%;
			cursor: pointer;
			padding: 0 20px;
		}

		input[type="radio"]:checked + label {
			position: absolute;
			left: 0;
			top: 0;
		}

	}
}

.shipping-select-box {
	text-align: left;
}