.wc-proceed-to-checkout {
	@include clearfix;
	
	padding-right: $window-border;
	padding-left: $window-border;
	padding-bottom: 20px;
	padding-top: 20px;

	position: absolute;
	bottom: $desktop-content-bottom;
	left: 0;
	width: 100%;
	height: 63px;

	background-color: #fff;
	border-top: 1px solid $color-bg-gray;


	.update-button,
	.checkout-button {
		float: right;
	}

	.link-back-to-shop {
		display: inline-block;

		@include screen( phone ) {
			display: none;
		}
	}

	.cart-collaterals & {
		height: 111px;

		.link-back-to-shop {
			margin-top: 25px;
		}
	}
}