/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$external-link: (
  name: 'external-link',
  x: 640px,
  y: 576px,
  offset-x: -640px,
  offset-y: -576px,
  width: 26px,
  height: 26px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$financial-arrow-down: (
  name: 'financial-arrow-down',
  x: 584px,
  y: 152px,
  offset-x: -584px,
  offset-y: -152px,
  width: 46px,
  height: 46px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$financial-arrow-up: (
  name: 'financial-arrow-up',
  x: 584px,
  y: 294px,
  offset-x: -584px,
  offset-y: -294px,
  width: 46px,
  height: 46px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-pdf: (
  name: 'icon-pdf',
  x: 732px,
  y: 50px,
  offset-x: -732px,
  offset-y: -50px,
  width: 68px,
  height: 80px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-portfolio-city: (
  name: 'icon-portfolio-city',
  x: 344px,
  y: 351px,
  offset-x: -344px,
  offset-y: -351px,
  width: 120px,
  height: 104px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-portfolio-dashboard: (
  name: 'icon-portfolio-dashboard',
  x: 0px,
  y: 351px,
  offset-x: 0px,
  offset-y: -351px,
  width: 110px,
  height: 134px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-portfolio-globe: (
  name: 'icon-portfolio-globe',
  x: 228px,
  y: 351px,
  offset-x: -228px,
  offset-y: -351px,
  width: 114px,
  height: 114px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-portfolio-house: (
  name: 'icon-portfolio-house',
  x: 292px,
  y: 152px,
  offset-x: -292px,
  offset-y: -152px,
  width: 116px,
  height: 74px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-portfolio-money: (
  name: 'icon-portfolio-money',
  x: 466px,
  y: 351px,
  offset-x: -466px,
  offset-y: -351px,
  width: 110px,
  height: 80px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-portfolio-v: (
  name: 'icon-portfolio-v',
  x: 112px,
  y: 351px,
  offset-x: -112px,
  offset-y: -351px,
  width: 114px,
  height: 114px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-project-industrial-active: (
  name: 'icon-project-industrial-active',
  x: 640px,
  y: 510px,
  offset-x: -640px,
  offset-y: -510px,
  width: 76px,
  height: 64px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-project-industrial: (
  name: 'icon-project-industrial',
  x: 718px,
  y: 444px,
  offset-x: -718px,
  offset-y: -444px,
  width: 76px,
  height: 64px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-project-office-active: (
  name: 'icon-project-office-active',
  x: 640px,
  y: 444px,
  offset-x: -640px,
  offset-y: -444px,
  width: 76px,
  height: 64px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-project-office: (
  name: 'icon-project-office',
  x: 718px,
  y: 378px,
  offset-x: -718px,
  offset-y: -378px,
  width: 76px,
  height: 64px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-project-residential-active: (
  name: 'icon-project-residential-active',
  x: 732px,
  y: 214px,
  offset-x: -732px,
  offset-y: -214px,
  width: 76px,
  height: 66px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-project-residential: (
  name: 'icon-project-residential',
  x: 732px,
  y: 132px,
  offset-x: -732px,
  offset-y: -132px,
  width: 76px,
  height: 66px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-project-retail-active: (
  name: 'icon-project-retail-active',
  x: 640px,
  y: 378px,
  offset-x: -640px,
  offset-y: -378px,
  width: 76px,
  height: 64px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-project-retail: (
  name: 'icon-project-retail',
  x: 732px,
  y: 296px,
  offset-x: -732px,
  offset-y: -296px,
  width: 76px,
  height: 64px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-quote-close-ar: (
  name: 'icon-quote-close-ar',
  x: 640px,
  y: 214px,
  offset-x: -640px,
  offset-y: -214px,
  width: 90px,
  height: 80px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-quote-close: (
  name: 'icon-quote-close',
  x: 640px,
  y: 50px,
  offset-x: -640px,
  offset-y: -50px,
  width: 90px,
  height: 80px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-quote-open-ar: (
  name: 'icon-quote-open-ar',
  x: 640px,
  y: 132px,
  offset-x: -640px,
  offset-y: -132px,
  width: 90px,
  height: 80px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-quote-open: (
  name: 'icon-quote-open',
  x: 640px,
  y: 296px,
  offset-x: -640px,
  offset-y: -296px,
  width: 90px,
  height: 80px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-excellence: (
  name: 'icon-values-excellence',
  x: 465px,
  y: 232px,
  offset-x: -465px,
  offset-y: -232px,
  width: 117px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-excellence-active: (
  name: 'icon-values-excellence_active',
  x: 346px,
  y: 232px,
  offset-x: -346px,
  offset-y: -232px,
  width: 117px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-integrity: (
  name: 'icon-values-integrity',
  x: 173px,
  y: 232px,
  offset-x: -173px,
  offset-y: -232px,
  width: 171px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-integrity-active: (
  name: 'icon-values-integrity_active',
  x: 0px,
  y: 232px,
  offset-x: 0px,
  offset-y: -232px,
  width: 171px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-satisfaction: (
  name: 'icon-values-satisfaction',
  x: 404px,
  y: 487px,
  offset-x: -404px,
  offset-y: -487px,
  width: 85px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-satisfaction-active: (
  name: 'icon-values-satisfaction_active',
  x: 491px,
  y: 487px,
  offset-x: -491px,
  offset-y: -487px,
  width: 85px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-sustainability: (
  name: 'icon-values-sustainability',
  x: 310px,
  y: 487px,
  offset-x: -310px,
  offset-y: -487px,
  width: 92px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-sustainability-active: (
  name: 'icon-values-sustainability_active',
  x: 216px,
  y: 487px,
  offset-x: -216px,
  offset-y: -487px,
  width: 92px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-teamwork: (
  name: 'icon-values-teamwork',
  x: 108px,
  y: 487px,
  offset-x: -108px,
  offset-y: -487px,
  width: 106px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icon-values-teamwork-active: (
  name: 'icon-values-teamwork_active',
  x: 0px,
  y: 487px,
  offset-x: 0px,
  offset-y: -487px,
  width: 106px,
  height: 117px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$logo-footer: (
  name: 'logo-footer',
  x: 0px,
  y: 152px,
  offset-x: 0px,
  offset-y: -152px,
  width: 290px,
  height: 78px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$logo-small-white: (
  name: 'logo-small-white',
  x: 410px,
  y: 152px,
  offset-x: -410px,
  offset-y: -152px,
  width: 172px,
  height: 48px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$logo-small: (
  name: 'logo-small',
  x: 640px,
  y: 0px,
  offset-x: -640px,
  offset-y: 0px,
  width: 172px,
  height: 48px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$logo-white-bg: (
  name: 'logo-white-bg',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 638px,
  height: 150px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$scroll-arrow-large: (
  name: 'scroll-arrow-large',
  x: 578px,
  y: 351px,
  offset-x: -578px,
  offset-y: -351px,
  width: 60px,
  height: 70px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$scroll-arrow-middle: (
  name: 'scroll-arrow-middle',
  x: 578px,
  y: 549px,
  offset-x: -578px,
  offset-y: -549px,
  width: 38px,
  height: 46px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$slide-arrow-next: (
  name: 'slide-arrow-next',
  x: 578px,
  y: 487px,
  offset-x: -578px,
  offset-y: -487px,
  width: 40px,
  height: 60px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$slide-arrow-prev: (
  name: 'slide-arrow-prev',
  x: 584px,
  y: 232px,
  offset-x: -584px,
  offset-y: -232px,
  width: 40px,
  height: 60px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$slide-arrow-white-next: (
  name: 'slide-arrow-white-next',
  x: 760px,
  y: 510px,
  offset-x: -760px,
  offset-y: -510px,
  width: 40px,
  height: 60px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$slide-arrow-white-prev: (
  name: 'slide-arrow-white-prev',
  x: 718px,
  y: 510px,
  offset-x: -718px,
  offset-y: -510px,
  width: 40px,
  height: 60px,
  total-width: 812px,
  total-height: 604px,
  image: '../../../images/sprites/icons_2x.png'
);
$icons-2x: (
  width: 812px,
  height: 604px,
  image: '../../../images/sprites/icons_2x.png',
  sprites: ($external-link, $financial-arrow-down, $financial-arrow-up, $icon-pdf, $icon-portfolio-city, $icon-portfolio-dashboard, $icon-portfolio-globe, $icon-portfolio-house, $icon-portfolio-money, $icon-portfolio-v, $icon-project-industrial-active, $icon-project-industrial, $icon-project-office-active, $icon-project-office, $icon-project-residential-active, $icon-project-residential, $icon-project-retail-active, $icon-project-retail, $icon-quote-close-ar, $icon-quote-close, $icon-quote-open-ar, $icon-quote-open, $icon-values-excellence, $icon-values-excellence-active, $icon-values-integrity, $icon-values-integrity-active, $icon-values-satisfaction, $icon-values-satisfaction-active, $icon-values-sustainability, $icon-values-sustainability-active, $icon-values-teamwork, $icon-values-teamwork-active, $logo-footer, $logo-small-white, $logo-small, $logo-white-bg, $scroll-arrow-large, $scroll-arrow-middle, $slide-arrow-next, $slide-arrow-prev, $slide-arrow-white-next, $slide-arrow-white-prev, )
);


