/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$external-link-1x: (
  name: 'external-link@1x',
  x: 296px,
  y: 273px,
  offset-x: -296px,
  offset-y: -273px,
  width: 13px,
  height: 13px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$financial-arrow-down-1x: (
  name: 'financial-arrow-down@1x',
  x: 295px,
  y: 77px,
  offset-x: -295px,
  offset-y: -77px,
  width: 23px,
  height: 23px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$financial-arrow-up-1x: (
  name: 'financial-arrow-up@1x',
  x: 296px,
  y: 248px,
  offset-x: -296px,
  offset-y: -248px,
  width: 23px,
  height: 23px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-pdf-1x: (
  name: 'icon-pdf@1x',
  x: 368px,
  y: 26px,
  offset-x: -368px,
  offset-y: -26px,
  width: 34px,
  height: 40px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-portfolio-city-1x: (
  name: 'icon-portfolio-city@1x',
  x: 175px,
  y: 179px,
  offset-x: -175px,
  offset-y: -179px,
  width: 60px,
  height: 52px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-portfolio-dashboard-1x: (
  name: 'icon-portfolio-dashboard@1x',
  x: 0px,
  y: 179px,
  offset-x: 0px,
  offset-y: -179px,
  width: 55px,
  height: 67px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-portfolio-globe-1x: (
  name: 'icon-portfolio-globe@1x',
  x: 116px,
  y: 179px,
  offset-x: -116px,
  offset-y: -179px,
  width: 57px,
  height: 57px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-portfolio-house-1x: (
  name: 'icon-portfolio-house@1x',
  x: 147px,
  y: 77px,
  offset-x: -147px,
  offset-y: -77px,
  width: 58px,
  height: 37px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-portfolio-money-1x: (
  name: 'icon-portfolio-money@1x',
  x: 237px,
  y: 179px,
  offset-x: -237px,
  offset-y: -179px,
  width: 55px,
  height: 40px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-portfolio-v-1x: (
  name: 'icon-portfolio-v@1x',
  x: 57px,
  y: 179px,
  offset-x: -57px,
  offset-y: -179px,
  width: 57px,
  height: 57px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-project-industrial-active-1x: (
  name: 'icon-project-industrial-active@1x',
  x: 321px,
  y: 262px,
  offset-x: -321px,
  offset-y: -262px,
  width: 38px,
  height: 32px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-project-industrial-1x: (
  name: 'icon-project-industrial@1x',
  x: 361px,
  y: 228px,
  offset-x: -361px,
  offset-y: -228px,
  width: 38px,
  height: 32px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-project-office-active-1x: (
  name: 'icon-project-office-active@1x',
  x: 321px,
  y: 228px,
  offset-x: -321px,
  offset-y: -228px,
  width: 38px,
  height: 32px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-project-office-1x: (
  name: 'icon-project-office@1x',
  x: 361px,
  y: 194px,
  offset-x: -361px,
  offset-y: -194px,
  width: 38px,
  height: 32px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-project-residential-active-1x: (
  name: 'icon-project-residential-active@1x',
  x: 368px,
  y: 110px,
  offset-x: -368px,
  offset-y: -110px,
  width: 38px,
  height: 33px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-project-residential-1x: (
  name: 'icon-project-residential@1x',
  x: 368px,
  y: 68px,
  offset-x: -368px,
  offset-y: -68px,
  width: 38px,
  height: 33px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-project-retail-active-1x: (
  name: 'icon-project-retail-active@1x',
  x: 321px,
  y: 194px,
  offset-x: -321px,
  offset-y: -194px,
  width: 38px,
  height: 32px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-project-retail-1x: (
  name: 'icon-project-retail@1x',
  x: 368px,
  y: 152px,
  offset-x: -368px,
  offset-y: -152px,
  width: 38px,
  height: 32px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-quote-close-ar-1x: (
  name: 'icon-quote-close-ar@1x',
  x: 321px,
  y: 110px,
  offset-x: -321px,
  offset-y: -110px,
  width: 45px,
  height: 40px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-quote-close-1x: (
  name: 'icon-quote-close@1x',
  x: 321px,
  y: 26px,
  offset-x: -321px,
  offset-y: -26px,
  width: 45px,
  height: 40px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-quote-open-ar-1x: (
  name: 'icon-quote-open-ar@1x',
  x: 321px,
  y: 68px,
  offset-x: -321px,
  offset-y: -68px,
  width: 45px,
  height: 40px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-quote-open-1x: (
  name: 'icon-quote-open@1x',
  x: 321px,
  y: 152px,
  offset-x: -321px,
  offset-y: -152px,
  width: 45px,
  height: 40px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-excellence-1x: (
  name: 'icon-values-excellence@1x',
  x: 237px,
  y: 118px,
  offset-x: -237px,
  offset-y: -118px,
  width: 59px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-excellence-active-1x: (
  name: 'icon-values-excellence_active@1x',
  x: 176px,
  y: 118px,
  offset-x: -176px,
  offset-y: -118px,
  width: 59px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-integrity-1x: (
  name: 'icon-values-integrity@1x',
  x: 88px,
  y: 118px,
  offset-x: -88px,
  offset-y: -118px,
  width: 86px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-integrity-active-1x: (
  name: 'icon-values-integrity_active@1x',
  x: 0px,
  y: 118px,
  offset-x: 0px,
  offset-y: -118px,
  width: 86px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-satisfaction-1x: (
  name: 'icon-values-satisfaction@1x',
  x: 206px,
  y: 248px,
  offset-x: -206px,
  offset-y: -248px,
  width: 43px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-satisfaction-active-1x: (
  name: 'icon-values-satisfaction_active@1x',
  x: 251px,
  y: 248px,
  offset-x: -251px,
  offset-y: -248px,
  width: 43px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-sustainability-1x: (
  name: 'icon-values-sustainability@1x',
  x: 158px,
  y: 248px,
  offset-x: -158px,
  offset-y: -248px,
  width: 46px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-sustainability-active-1x: (
  name: 'icon-values-sustainability_active@1x',
  x: 110px,
  y: 248px,
  offset-x: -110px,
  offset-y: -248px,
  width: 46px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-teamwork-1x: (
  name: 'icon-values-teamwork@1x',
  x: 55px,
  y: 248px,
  offset-x: -55px,
  offset-y: -248px,
  width: 53px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icon-values-teamwork-active-1x: (
  name: 'icon-values-teamwork_active@1x',
  x: 0px,
  y: 248px,
  offset-x: 0px,
  offset-y: -248px,
  width: 53px,
  height: 59px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$logo-footer-1x: (
  name: 'logo-footer@1x',
  x: 0px,
  y: 77px,
  offset-x: 0px,
  offset-y: -77px,
  width: 145px,
  height: 39px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$logo-small-white-1x: (
  name: 'logo-small-white@1x',
  x: 207px,
  y: 77px,
  offset-x: -207px,
  offset-y: -77px,
  width: 86px,
  height: 24px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$logo-small-1x: (
  name: 'logo-small@1x',
  x: 321px,
  y: 0px,
  offset-x: -321px,
  offset-y: 0px,
  width: 86px,
  height: 24px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$logo-white-bg-1x: (
  name: 'logo-white-bg@1x',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 319px,
  height: 75px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$scroll-arrow-large-1x: (
  name: 'scroll-arrow-large@1x',
  x: 0px,
  y: 309px,
  offset-x: 0px,
  offset-y: -309px,
  width: 30px,
  height: 35px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$scroll-arrow-middle-1x: (
  name: 'scroll-arrow-middle@1x',
  x: 298px,
  y: 150px,
  offset-x: -298px,
  offset-y: -150px,
  width: 19px,
  height: 23px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$slide-arrow-next-1x: (
  name: 'slide-arrow-next@1x',
  x: 294px,
  y: 179px,
  offset-x: -294px,
  offset-y: -179px,
  width: 20px,
  height: 30px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$slide-arrow-prev-1x: (
  name: 'slide-arrow-prev@1x',
  x: 298px,
  y: 118px,
  offset-x: -298px,
  offset-y: -118px,
  width: 20px,
  height: 30px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$slide-arrow-white-next-1x: (
  name: 'slide-arrow-white-next@1x',
  x: 383px,
  y: 262px,
  offset-x: -383px,
  offset-y: -262px,
  width: 20px,
  height: 30px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$slide-arrow-white-prev-1x: (
  name: 'slide-arrow-white-prev@1x',
  x: 361px,
  y: 262px,
  offset-x: -361px,
  offset-y: -262px,
  width: 20px,
  height: 30px,
  total-width: 407px,
  total-height: 344px,
  image: '../../../images/sprites/icons_1x.png'
);
$icons-1x: (
  width: 407px,
  height: 344px,
  image: '../../../images/sprites/icons_1x.png',
  sprites: ($external-link-1x, $financial-arrow-down-1x, $financial-arrow-up-1x, $icon-pdf-1x, $icon-portfolio-city-1x, $icon-portfolio-dashboard-1x, $icon-portfolio-globe-1x, $icon-portfolio-house-1x, $icon-portfolio-money-1x, $icon-portfolio-v-1x, $icon-project-industrial-active-1x, $icon-project-industrial-1x, $icon-project-office-active-1x, $icon-project-office-1x, $icon-project-residential-active-1x, $icon-project-residential-1x, $icon-project-retail-active-1x, $icon-project-retail-1x, $icon-quote-close-ar-1x, $icon-quote-close-1x, $icon-quote-open-ar-1x, $icon-quote-open-1x, $icon-values-excellence-1x, $icon-values-excellence-active-1x, $icon-values-integrity-1x, $icon-values-integrity-active-1x, $icon-values-satisfaction-1x, $icon-values-satisfaction-active-1x, $icon-values-sustainability-1x, $icon-values-sustainability-active-1x, $icon-values-teamwork-1x, $icon-values-teamwork-active-1x, $logo-footer-1x, $logo-small-white-1x, $logo-small-1x, $logo-white-bg-1x, $scroll-arrow-large-1x, $scroll-arrow-middle-1x, $slide-arrow-next-1x, $slide-arrow-prev-1x, $slide-arrow-white-next-1x, $slide-arrow-white-prev-1x, )
);


