$svg-sprites-map: (
'arrow-down': (
	name: '.icon-arrow-down',
	width: 15.665px,
	height: 8.129px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.665%22%20height%3D%228.129%22%20viewBox%3D%220%200%2015.665%208.129%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.665.283L7.833%208.129%200%20.283%202.61%200l5.222%205.232L13.054%200l2.611.283z%22%2F%3E%3C%2Fsvg%3E',
),
'arrow-up': (
	name: '.icon-arrow-up',
	width: 15.665px,
	height: 8.129px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.665%22%20height%3D%228.129%22%20viewBox%3D%220%200%2015.665%208.129%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.665%207.847L7.833%200%200%207.847l2.61.282%205.222-5.231%205.221%205.231%202.612-.282z%22%2F%3E%3C%2Fsvg%3E',
),
'arrow': (
	name: '.icon-arrow',
	width: 574.61px,
	height: 324.51px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22574.61%22%20height%3D%22324.51%22%20viewBox%3D%2220.669%20261.79%20574.61%20324.51%22%3E%3Cpath%20fill%3D%22%23FEDD00%22%20d%3D%22M181.891%20586.3L20.669%20423.011%20181.891%20261.79l6.201%2053.741-107.481%20107.48%20107.481%20107.482-6.201%2055.807z%22%2F%3E%3Cpath%20fill%3D%22%23FEDD00%22%20d%3D%22M595.28%20414.744v20.669H68.209v-20.669H595.28z%22%2F%3E%3C%2Fsvg%3E',
),
'cart_icon_white': (
	name: '.icon-cart_icon_white',
	width: 411.623px,
	height: 387.6px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22411.623%22%20height%3D%22387.6%22%20viewBox%3D%220%200%20411.623%20387.6%22%3E%3Cg%20fill%3D%22%23FFF%22%3E%3Ccircle%20cx%3D%22101.972%22%20cy%3D%22326.737%22%20r%3D%2260.863%22%2F%3E%3Ccircle%20cx%3D%22264.805%22%20cy%3D%22326.737%22%20r%3D%2260.863%22%2F%3E%3Cpath%20d%3D%22M69.939%20239.18h227.434L411.624%200h-71.007l-30.43%2060.863H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E',
),
'cart_icon': (
	name: '.icon-cart_icon',
	width: 411.624px,
	height: 387.6px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22411.624%22%20height%3D%22387.6%22%20viewBox%3D%2298.235%20235.954%20411.624%20387.6%22%3E%3Ccircle%20cx%3D%22200.206%22%20cy%3D%22562.691%22%20r%3D%2260.863%22%2F%3E%3Ccircle%20cx%3D%22363.04%22%20cy%3D%22562.691%22%20r%3D%2260.863%22%2F%3E%3Cpath%20d%3D%22M168.173%20475.134h227.435l114.251-239.18h-71.007l-30.431%2060.863H98.235z%22%2F%3E%3C%2Fsvg%3E',
),
'check': (
	name: '.icon-check',
	width: 17px,
	height: 13px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2213%22%20viewBox%3D%220%200%2017%2013%22%3E%3Cpath%20d%3D%22M14.402%200l-8.5%208.067-3.304-3.135L0%207.397%205.902%2013%2017%202.466%2014.402%200z%22%2F%3E%3C%2Fsvg%3E',
),
'close': (
	name: '.icon-close',
	width: 15.979px,
	height: 15.995px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215.979%22%20height%3D%2215.995%22%20viewBox%3D%220%200%2015.979%2015.995%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23B2B2B2%22%20d%3D%22M15.979%2013.819L10.161%207.99l5.802-5.814L13.791%200%207.989%205.813%202.188%200%20.016%202.176%205.817%207.99%200%2013.819l2.172%202.176%205.817-5.829%205.818%205.829z%22%2F%3E%3C%2Fsvg%3E',
),
'edit_icon': (
	name: '.icon-edit_icon',
	width: 14.823px,
	height: 14.823px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214.823%22%20height%3D%2214.823%22%20viewBox%3D%220%200%2014.823%2014.823%22%3E%3Cpath%20fill%3D%22%23989898%22%20d%3D%22M3.647%2013.288h-.955v-1.143H1.549v-.955l.813-.813%202.098%202.098-.813.813zm4.668-8.284a.209.209%200%200%201-.063.152L3.415%209.994a.209.209%200%200%201-.152.063.187.187%200%200%201-.196-.196c0-.054.018-.107.063-.152L7.967%204.87a.213.213%200%200%201%20.152-.063.188.188%200%200%201%20.196.197zM7.833%203.29L.406%2010.717v3.713H4.12l7.427-7.427L7.833%203.29zm6.097.857a1.19%201.19%200%200%200-.33-.813l-2.098-2.088c-.215-.214-.509-.339-.813-.339s-.598.125-.803.339L8.405%202.719l3.713%203.713L13.6%204.951c.205-.206.33-.5.33-.804z%22%2F%3E%3C%2Fsvg%3E',
),
'filter_black': (
	name: '.icon-filter_black',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018.6%2017.8%22%3E%3Cpath%20d%3D%22M17.9%201c-.1-.3-.4-.5-.7-.5H1.4C1.1.5.8.7.7%201c-.1.3-.1.6.2.9L7%208v6c0%20.2.1.4.2.6l3.1%203.1c.1.2.3.2.6.2.1%200%20.2%200%20.3-.1.3-.1.5-.4.5-.7V7.9l6.1-6.1c.1-.2.2-.5.1-.8z%22%2F%3E%3C%2Fsvg%3E',
),
'filter_yellow': (
	name: '.icon-filter_yellow',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018.6%2017.8%22%3E%3Cpath%20fill%3D%22%23FEDD00%22%20d%3D%22M17.9%201c-.1-.3-.4-.5-.7-.5H1.4C1.1.5.8.7.7%201c-.1.3-.1.6.2.9L7%208v6c0%20.2.1.4.2.6l3.1%203.1c.1.2.3.2.6.2.1%200%20.2%200%20.3-.1.3-.1.5-.4.5-.7V7.9l6.1-6.1c.1-.2.2-.5.1-.8z%22%2F%3E%3C%2Fsvg%3E',
),
'lock_icon_white': (
	name: '.icon-lock_icon_white',
	width: 257.2px,
	height: 314.355px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22257.2%22%20height%3D%22314.355%22%20viewBox%3D%220%200%20257.2%20314.355%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M257.2%20292.787c0%2011.861-9.706%2021.568-21.568%2021.568H21.568C9.706%20314.356%200%20304.649%200%20292.787V163.918c0-11.863%209.706-21.568%2021.568-21.568h7.549V99.752C29.117%2044.753%2074.41%200%20128.87%200c54.459%200%2099.752%2044.753%2099.752%2099.752v42.598h7.01c11.862%200%2021.568%209.705%2021.568%2021.568v128.869zM186.025%20142.35V99.752c0-31.273-25.883-57.156-57.155-57.156-31.274%200-57.155%2025.883-57.155%2057.156v42.598h114.31z%22%2F%3E%3C%2Fsvg%3E',
),
'lock_icon': (
	name: '.icon-lock_icon',
	width: 257.2px,
	height: 314.356px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22257.2%22%20height%3D%22314.356%22%20viewBox%3D%22159.604%20259.724%20257.2%20314.356%22%3E%3Cpath%20d%3D%22M416.804%20552.511c0%2011.861-9.706%2021.568-21.568%2021.568H181.172c-11.862%200-21.568-9.707-21.568-21.568V423.642c0-11.863%209.706-21.569%2021.568-21.569h7.549v-42.597c0-54.999%2045.293-99.752%2099.753-99.752%2054.459%200%2099.752%2044.753%2099.752%2099.752v42.597h7.01c11.862%200%2021.568%209.706%2021.568%2021.569v128.869zm-71.175-150.438v-42.597c0-31.274-25.882-57.156-57.155-57.156-31.274%200-57.155%2025.882-57.155%2057.156v42.597h114.31z%22%2F%3E%3C%2Fsvg%3E',
),
'logo-footer': (
	name: '.icon-logo-footer',
	width: 57.217px,
	height: 57.216px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2257.217%22%20height%3D%2257.216%22%20viewBox%3D%220%200%2057.217%2057.216%22%3E%3Cpath%20d%3D%22M12.735%2041.81l1.156-6.626c.535-3.025%202.501-4.538%206.139-4.538h3.421c3.45%200%204.733%201.844%204.249%204.584l-1.146%206.58%207.213-.012%203.223-18.381c.804-4.494-1.864-8.653-8.717-8.653h-7.717c-6.9%200-10.995%204.206-11.905%209.358L5.532%2041.81h7.203zm30.17-27.046h-2.99l-2.814%2015.882h.986c3.447%200%204.73%201.844%204.246%204.584l-1.146%206.58h7.205l3.119-17.688c.918-5.199-1.752-9.358-8.606-9.358z%22%2F%3E%3Cpath%20d%3D%22M28.609%201.189c15.142%200%2027.418%2012.275%2027.418%2027.417S43.751%2056.025%2028.609%2056.025C13.466%2056.025%201.19%2043.75%201.19%2028.607S13.466%201.189%2028.609%201.189m0-1.189C12.834%200%200%2012.833%200%2028.607c0%2015.775%2012.834%2028.609%2028.609%2028.609%2015.773%200%2028.608-12.834%2028.608-28.609C57.217%2012.833%2044.382%200%2028.609%200z%22%2F%3E%3C%2Fsvg%3E',
),
'logout': (
	name: '.icon-logout',
	width: 612px,
	height: 612px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22612%22%20height%3D%22612%22%20viewBox%3D%220%200%20612%20612%22%3E%3Cpath%20d%3D%22M222.545%20333.818h319.909l-69.545%20111.273h55.637L612%20306l-83.454-139.091h-55.637l69.545%20111.273H222.545z%22%2F%3E%3Cpath%20d%3D%22M0%20612h445.091V431.182h-55.637v125.181H55.636V55.636h333.818v125.182h55.637V0H0z%22%2F%3E%3C%2Fsvg%3E',
),
'mobile_service': (
	name: '.icon-mobile_service',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%201201.3%202000%201597.3%22%3E%3Cpath%20d%3D%22M1970%201757.1l-289.5-319.5c-23.3-23.3-53.2-36.6-83.2-36.6h-332.8v-69.9c0-73.2-56.6-129.8-126.5-129.8H129.8C56.6%201201.3%200%201257.9%200%201331.1v1151.5c0%2063.2%2053.2%20116.5%20116.5%20116.5h52.3c15.9%20113.7%20112.1%20199.7%20230.6%20199.7s214.7-86%20230.6-199.7H1366.8c15.9%20113.7%20112.1%20199.7%20230.6%20199.7s214.7-86%20230.6-199.7h172v-765.4c0-30-10-56.7-30-76.6zm-53.2%2043.2c10%206.7%2013.3%2020%2013.3%2030v103.2h-499.2v-332.8h302.8l183.1%20199.6zM66.6%201331.1c0-36.6%2026.6-63.2%2063.2-63.2h1005c36.6%200%2063.2%2030%2063.2%2063.2v802H66.6v-802zm332.7%201401c-93.2%200-166.4-73.2-166.4-166.4s73.2-166.4%20166.4-166.4%20166.4%2073.2%20166.4%20166.4-73.2%20166.4-166.4%20166.4zm798.7-199.7H629.9c-14.9-106.6-100.5-188.8-208.7-198.6-.8-.1-1.6-.1-2.4-.2-2.7-.2-5.4-.4-8.2-.6a213.08%20213.08%200%200%200-22.6%200c-2.8.1-5.5.4-8.2.6-.8.1-1.6.1-2.4.2-108.3%209.8-193.8%2092-208.7%20198.6h-52.3c-26.6%200-49.9-23.3-49.9-49.9v-282.9H1198v332.8zm399.3%20199.7c-93.2%200-166.4-73.2-166.4-166.4s73.2-166.4%20166.4-166.4%20166.4%2073.2%20166.4%20166.4-73.2%20166.4-166.4%20166.4zm230.6-199.7c-14.9-106.6-100.5-188.8-208.7-198.6-.8-.1-1.6-.1-2.4-.2-2.7-.2-5.4-.4-8.2-.6a213.08%20213.08%200%200%200-22.6%200c-2.8.1-5.5.4-8.2.6-.8.1-1.6.1-2.4.2-108.3%209.8-193.8%2092-208.7%20198.6h-102.2v-1065h332.8c10%200%2023.3%206.7%2033.3%2013.3l47.7%2053.2H1421c-30%200-56.6%2026.6-56.6%2056.6v352.7c0%2030%2026.6%2056.6%2056.6%2056.6h509.2v166.4h-166.4c-20%200-33.3%2013.3-33.3%2033.3%200%2020%2013.3%2033.3%2033.3%2033.3h166.4v299.5l-102.3.1z%22%2F%3E%3Cpath%20d%3D%22M399.3%202499.2c-36.6%200-66.6%2030-66.6%2066.6s30%2066.6%2066.6%2066.6%2066.6-30%2066.6-66.6-30-66.6-66.6-66.6zM1597.3%202499.2c-36.6%200-66.6%2030-66.6%2066.6s30%2066.6%2066.6%2066.6c36.6%200%2066.6-30%2066.6-66.6s-30-66.6-66.6-66.6zM297.5%201995.7l24.2-139c11.2-63.4%2052.5-95.2%20128.8-95.2h71.8c72.3%200%2099.2%2038.6%2089.1%2096.1l-24.1%20138%20151.3-.3%2067.6-385.5c16.9-94.3-39.1-181.5-182.8-181.5H461.5c-144.7%200-230.6%2088.2-249.7%20196.3l-65.4%20371h151.1zm632.8-567.3h-62.8l-59%20333.1h20.7c72.3%200%2099.2%2038.6%2089.1%2096.1l-24.1%20138h151.1l65.4-371c19.4-109-36.6-196.2-180.4-196.2z%22%2F%3E%3C%2Fsvg%3E',
),
'our_services': (
	name: '.icon-our_services',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%201000%202000%202000%22%3E%3Cpath%20d%3D%22M1965.6%202734.9l-438.7-438.7%2027.8-74.1c5.2-13.8%201.8-29.4-8.6-39.9l-65.5-65.5c-14.7-14.7-38.5-14.7-53.3%200l-82.2%2082.2-171.9-171.9%20381.2-381.2c36.6-36.6%2082.9-64.7%20133.9-81.1%2043.6-14%2083.7-38.6%20116.2-71%2056.1-56.1%2086.3-130.7%2085.1-210.1-1.3-79.4-33.9-153.1-91.9-207.5-9.5-8.9-22.8-12.3-35.4-9s-22.5%2012.8-26.4%2025.2l-47.8%20153.1c-5.9%2018.9-18.8%2034.4-36.4%2043.6-17.6%209.2-37.7%2011-56.6%205.1-31.2-9.7-52.2-38.2-52.2-70.8%200-7.5%201.1-14.9%203.4-22.2l47.2-151.3c3.9-12.5%201-26-7.5-35.9-8.6-9.9-21.6-14.6-34.5-12.5-53.9%208.7-103.8%2032.3-144.4%2068-71.5%2062.8-107.8%20156.7-97.3%20251%2010.8%2096.8-23.7%20193.1-94.7%20264.1L973%201826.9l-523.3-523.3-9.5-102.6c-1.1-11.7-7.5-22.2-17.5-28.4l-266-166.8c-14.9-9.3-34.2-7.1-46.6%205.3L11%201110.2c-12.4%2012.4-14.6%2031.8-5.3%2046.6l166.8%20266c6.2%209.9%2016.7%2016.4%2028.4%2017.5l102.6%209.5%20523.3%20523.3-381.2%20381.1c-36.6%2036.6-83%2064.7-134%2081.1-44.1%2014.2-83.2%2038.1-116.2%2071.1-56.1%2056.1-86.3%20130.7-85.1%20210.1%201.3%2079.4%2033.9%20153%2091.9%20207.4%209.5%208.9%2022.8%2012.3%2035.4%209%2012.5-3.3%2022.5-12.8%2026.4-25.2l47.8-153.1c5.9-18.9%2018.8-34.4%2036.4-43.6%2017.1-9%2036.6-10.9%2055.1-5.6.5.2%201%20.3%201.5.5%2039%2012.2%2060.9%2053.9%2048.7%2092.9l-47.2%20151.3c-3.9%2012.5-1.1%2026%207.5%2035.9%207.2%208.3%2017.6%2013%2028.4%2013%202%200%204-.2%206.1-.5%2053.8-8.7%20103.7-32.2%20144.4-68%2071.4-62.8%20107.8-156.7%2097.3-251-10.8-96.8%2023.7-193%2094.7-264l242.4-242.3%20171.9%20171.9-82.2%2082.2c-14.7%2014.7-14.7%2038.6%200%2053.3l65.5%2065.5c10.4%2010.4%2026%2013.8%2039.9%208.6l74.1-27.8%20438.7%20438.7c22.9%2022.9%2053%2034.4%2083.1%2034.4%2030.1%200%2060.2-11.5%2083.1-34.4l64.5-64.5c45.8-45.8%2045.8-120.4-.1-166.2zm-696.9-1097.1c87.3-87.3%20129.7-206%20116.3-325.7-7.8-69.9%2019.1-139.4%2072.2-186.1%2013.2-11.6%2027.7-21.4%2043.2-29.4l-25.6%2082.1c-4.5%2014.5-6.8%2029.5-6.8%2044.6%200%2065.7%2042.2%20123%20105%20142.7%2078.7%2024.5%20162.7-19.5%20187.3-98.2l26.6-85.3c17.4%2030.8%2026.9%2065.7%2027.5%20102.2.9%2058.8-21.5%20114.1-63%20155.7-24.4%2024.4-53.3%2042.1-86%2052.6-62.4%2020.1-119.1%2054.5-164.1%2099.6l-381.2%20381.1-93.6-93.6%20242.2-242.3zm-537.3%20724.4c-87.3%2087.3-129.7%20206-116.3%20325.6%207.8%2069.9-19.2%20139.5-72.1%20186.1-13.2%2011.6-27.7%2021.4-43.2%2029.3l25.6-82.1c24.3-78-18.8-161.3-96.2-186.6-.7-.3-1.4-.5-2.1-.7-38.1-11.9-78.6-8.2-114%2010.3-35.4%2018.6-61.4%2049.8-73.3%2087.9l-26.6%2085.3c-17.4-30.8-27-65.7-27.5-102.2-.9-58.8%2021.5-114.1%2063-155.7%2024.4-24.4%2053.4-42.1%2086-52.6%2062.4-20.1%20119.1-54.5%20164.2-99.6l381.2-381.1%2093.6%2093.6-242.3%20242.5zm-387.9-979.1c-7.4-7.4-17-11-26.6-11-4.2%200-8.4.7-12.5%202.1l-77.9-7.2-141-224.8%2056.7-56.7%20224.8%20141%207.2%2077.9c-1.4%204-2.1%208.2-2.1%2012.4%200%2010%204%2019.6%2011%2026.6l908.7%20908.7-39.6%2039.6-908.7-908.6zm941.3%201067.6l-66.5%2024.9-21.7-21.7%20257.4-257.4%2021.7%2021.7-24.9%2066.5-166%20166zm627.6%20397.1l-64.5%2064.5c-16.5%2016.5-43.2%2016.5-59.7%200L1359%202483.1l124.2-124.2%20429.2%20429.2c16.4%2016.5%2016.4%2043.3%200%2059.7z%22%2F%3E%3C%2Fsvg%3E',
),
'repair_icon': (
	name: '.icon-repair_icon',
	width: 424.948px,
	height: 423.185px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22424.948%22%20height%3D%22423.185%22%20viewBox%3D%2288.516%20212.174%20424.948%20423.185%22%3E%3Cpath%20d%3D%22M100.154%20567.65c-15.517%2015.516-15.517%2040.908%200%2056.424%207.054%207.053%2018.338%2011.285%2028.213%2011.285%209.874%200%2019.748-4.232%2028.212-11.285l129.776-129.777-56.424-56.424L100.154%20567.65zm325.852-241.216l56.425-29.623%2029.623-56.424-28.213-28.212-57.835%2029.623-29.623%2056.425-67.71%2069.12%2028.213%2028.212%2069.12-69.121zm12.695%20150.937h-5.643c-9.874%200-18.338%201.41-26.802%205.641l-163.631-163.63c2.821-8.464%205.643-18.338%205.643-26.802v-5.643c-4.232-40.908-38.087-74.763-80.405-74.763-12.695%200-23.98%202.821-33.854%208.464l52.192%2052.192c2.821%202.821%204.231%205.643%205.643%209.875%202.821%209.875%201.41%2019.749-5.643%2028.212-5.643%205.643-11.285%207.053-18.338%207.053-2.821%200-5.643%200-9.874-1.411-2.821-1.411-7.054-2.821-9.875-5.643l-50.782-53.604c-5.643%2011.285-8.464%2022.57-8.464%2035.266%200%2042.318%2032.444%2076.173%2074.763%2078.994h5.643c9.875%200%2018.338-1.41%2026.802-5.642l163.632%20162.221c-2.821%208.463-5.643%2018.338-5.643%2026.803v5.641c2.821%2040.908%2036.676%2073.354%2078.994%2073.354%2012.696%200%2023.98-2.822%2033.855-8.465l-52.193-52.191c-2.821-2.822-4.231-5.643-5.643-9.875-2.821-9.875-1.41-19.748%205.643-28.213%205.643-5.643%2011.285-7.053%2018.338-7.053%202.821%200%205.643%200%209.875%201.41%202.821%201.412%207.053%202.822%209.874%205.643L505%20587.398c5.643-9.875%208.464-21.16%208.464-33.855-1.41-39.497-33.854-73.352-74.763-76.172z%22%2F%3E%3C%2Fsvg%3E',
),
'social_facebook_hover': (
	name: '.icon-social_facebook_hover',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202000%204000%22%3E%3Cpath%20fill%3D%22%23385C8E%22%20d%3D%22M64.9%202148.5h433.9v1786.6c0%2035.2%2028.5%2063.9%2063.9%2063.9h735.8c35.2%200%2063.9-28.5%2063.9-63.9V2156.8h498.9c32.5%200%2059.8-24.3%2063.3-56.6l75.8-657.8c2.2-18-3.6-36.2-15.8-49.9-12.1-13.7-29.5-21.4-47.7-21.4h-574.7V958.7c0-124.3%2066.9-187.3%20199-187.3h375.7c35.2%200%2063.9-28.5%2063.9-63.9V103.7c0-35.2-28.5-63.9-63.9-63.9H1419c-3.6-.2-11.7-.4-23.8-.4-89.9%200-402.1%2017.6-648.9%20244.7-273.2%20251.4-235.2%20552.7-226.1%20604.7V1371H64.9c-35.2%200-63.9%2028.5-63.9%2063.9v649.3c.2%2035.8%2028.7%2064.3%2063.9%2064.3z%22%2F%3E%3C%2Fsvg%3E',
),
'social_facebook': (
	name: '.icon-social_facebook',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202000%204000%22%3E%3Cpath%20fill%3D%22%23FD0%22%20d%3D%22M65.9%202149.5h433.9v1786.6c0%2035.2%2028.5%2063.9%2063.9%2063.9h735.8c35.2%200%2063.9-28.5%2063.9-63.9V2157.8h498.9c32.5%200%2059.8-24.3%2063.3-56.6l75.8-657.8c2.2-18-3.6-36.2-15.8-49.9-12.1-13.7-29.5-21.4-47.7-21.4h-574.7V959.7c0-124.3%2066.9-187.3%20199-187.3h375.7c35.2%200%2063.9-28.5%2063.9-63.9V104.7c0-35.2-28.5-63.9-63.9-63.9H1420c-3.6-.2-11.7-.4-23.8-.4-89.9%200-402.1%2017.6-648.9%20244.7-273.2%20251.4-235.2%20552.7-226.1%20604.7V1372H65.9c-35.2%200-63.9%2028.5-63.9%2063.9v649.3c.2%2035.8%2028.7%2064.3%2063.9%2064.3z%22%2F%3E%3C%2Fsvg%3E',
),
'social_google_plus_hover': (
	name: '.icon-social_google_plus_hover',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%202428.3%202000%201571.7%22%3E%3Cg%20fill%3D%22%23DB4437%22%3E%3Cpath%20d%3D%22M1534.9%203136.3H818.6v238.8h437c-65.2%20207.6-259.1%20358.1-488.2%20358.1-282.6%200-511.6-229.1-511.6-511.6%200-282.6%20229.1-511.6%20511.6-511.6%20142.3%200%20271%2058.1%20363.7%20151.9l173.3-188.4c-138.4-135.6-327.9-219.3-537-219.3C343.6%202454.3%200%202797.8%200%203221.6S343.6%203989%20767.4%203989c371.3%200%20696.3-263.7%20767.4-614l.1-238.7zM2000%203135.9h-146.5v-146.5h-125.6v146.5h-146.5v125.7h146.5V3408h125.6v-146.4H2000z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E',
),
'social_google_plus': (
	name: '.icon-social_google_plus',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%202454.3%202000%201545.7%22%3E%3Cg%20fill%3D%22%23FD0%22%3E%3Cpath%20d%3D%22M1534.9%203147.3H818.6v238.8h437c-65.2%20207.6-259.1%20358.1-488.2%20358.1-282.6%200-511.6-229.1-511.6-511.6%200-282.6%20229.1-511.6%20511.6-511.6%20142.3%200%20271%2058.1%20363.7%20151.9l173.3-188.4c-138.4-135.6-327.9-219.3-537-219.3C343.6%202465.2%200%202808.8%200%203232.6%200%203656.4%20343.6%204000%20767.4%204000c371.3%200%20696.3-263.7%20767.4-614l.1-238.7zM2000%203146.9h-146.5v-146.5h-125.6v146.5h-146.5v125.6h146.5V3419h125.6v-146.5H2000z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E',
),
'social_instagram_hover': (
	name: '.icon-social_instagram_hover',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%201000%202000%202000%22%3E%3ClinearGradient%20id%3D%22a%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22275.517%22%20y1%3D%223995.429%22%20x2%3D%22275.517%22%20y2%3D%223450.28%22%20gradientTransform%3D%22translate(0%20-11507.396)%20scale(3.6295)%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23e09b3d%22%2F%3E%3Cstop%20offset%3D%22.3%22%20stop-color%3D%22%23c74c4d%22%2F%3E%3Cstop%20offset%3D%22.6%22%20stop-color%3D%22%23c21975%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%237024c4%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%22url(%23a)%22%20d%3D%22M1404.2%201000H595.8C267.3%201000%200%201267.3%200%201595.8v808.4C0%202732.7%20267.3%203000%20595.8%203000h808.4c328.5%200%20595.8-267.3%20595.8-595.8v-808.4c0-328.5-267.3-595.8-595.8-595.8zm394.6%201404.2c0%20217.9-176.7%20394.6-394.6%20394.6H595.8c-217.9%200-394.6-176.7-394.6-394.6v-808.4c0-217.9%20176.7-394.6%20394.6-394.6h808.4c217.9%200%20394.6%20176.7%20394.6%20394.6v808.4z%22%2F%3E%3ClinearGradient%20id%3D%22b%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22275.517%22%20y1%3D%223995.429%22%20x2%3D%22275.517%22%20y2%3D%223450.28%22%20gradientTransform%3D%22translate(0%20-11507.396)%20scale(3.6295)%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23e09b3d%22%2F%3E%3Cstop%20offset%3D%22.3%22%20stop-color%3D%22%23c74c4d%22%2F%3E%3Cstop%20offset%3D%22.6%22%20stop-color%3D%22%23c21975%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%237024c4%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20fill%3D%22url(%23b)%22%20d%3D%22M1000%201482.7c-285.2%200-517.3%20232-517.3%20517.3s232%20517.3%20517.3%20517.3%20517.3-232%20517.3-517.3-232.1-517.3-517.3-517.3zm0%20833.4c-174.6%200-316.1-141.5-316.1-316.1s141.5-316.1%20316.1-316.1c174.6%200%20316.1%20141.5%20316.1%20316.1%200%20174.6-141.5%20316.1-316.1%20316.1z%22%2F%3E%3ClinearGradient%20id%3D%22c%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22418.306%22%20y1%3D%223995.429%22%20x2%3D%22418.306%22%20y2%3D%223450.28%22%20gradientTransform%3D%22translate(0%20-11507.396)%20scale(3.6295)%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23e09b3d%22%2F%3E%3Cstop%20offset%3D%22.3%22%20stop-color%3D%22%23c74c4d%22%2F%3E%3Cstop%20offset%3D%22.6%22%20stop-color%3D%22%23c21975%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%237024c4%22%2F%3E%3C%2FlinearGradient%3E%3Ccircle%20fill%3D%22url(%23c)%22%20cx%3D%221518.3%22%20cy%3D%221486.6%22%20r%3D%22123.9%22%2F%3E%3C%2Fsvg%3E',
),
'social_instagram': (
	name: '.icon-social_instagram',
	width: 169.063px,
	height: 169.063px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22169.063%22%20height%3D%22169.063%22%20viewBox%3D%220%200%20169.063%20169.063%22%3E%3Cg%20fill%3D%22%23FD0%22%3E%3Cpath%20d%3D%22M122.406%200H46.654C20.929%200%200%2020.93%200%2046.656v75.752c0%2025.726%2020.929%2046.654%2046.653%2046.654h75.752c25.728%200%2046.656-20.93%2046.656-46.654V46.656C169.063%2020.93%20148.133%200%20122.406%200zm31.657%20122.407c0%2017.454-14.201%2031.654-31.655%2031.654H46.654C29.2%20154.063%2015%20139.862%2015%20122.407V46.656C15%2029.201%2029.2%2015%2046.654%2015h75.752c17.455%200%2031.656%2014.201%2031.656%2031.655l.001%2075.752z%22%2F%3E%3Cpath%20d%3D%22M84.531%2040.97c-24.021%200-43.563%2019.542-43.563%2043.563%200%2024.02%2019.542%2043.561%2043.563%2043.561s43.563-19.541%2043.563-43.561c0-24.021-19.542-43.563-43.563-43.563zm0%2072.123c-15.748%200-28.563-12.812-28.563-28.561%200-15.75%2012.813-28.563%2028.563-28.563s28.563%2012.813%2028.563%2028.563c0%2015.749-12.814%2028.561-28.563%2028.561zM129.921%2028.251c-2.891%200-5.729%201.17-7.771%203.22a11.052%2011.052%200%200%200-3.229%207.78c0%202.891%201.18%205.729%203.229%207.78a11.09%2011.09%200%200%200%207.771%203.22c2.899%200%205.729-1.181%207.78-3.22a11.086%2011.086%200%200%200%203.22-7.78c0-2.9-1.17-5.74-3.22-7.78-2.04-2.05-4.88-3.22-7.78-3.22z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E',
),
'social_twitter_hover': (
	name: '.icon-social_twitter_hover',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%201187.7%202000%201644.3%22%3E%3Cpath%20fill%3D%22%231DA1F2%22%20d%3D%22M2000%201387.9c-73.6%2032.6-152.6%2054.7-235.6%2064.6%2084.7-50.7%20149.6-131.2%20180.3-226.8-79.5%2047-167.2%2081.1-260.7%2099.6-74.9-79.9-181.3-129.6-299.4-129.6-226.6%200-410.3%20183.7-410.3%20410.2%200%2032.1%203.6%2063.5%2010.6%2093.5-340.9-17.1-643.3-180.5-845.6-428.7-35.4%2060.5-55.5%20131-55.5%20206.2%200%20142.3%2072.5%20268%20182.5%20341.4-67.2-2.2-130.5-20.7-185.8-51.5v5.1c0%20198.7%20141.5%20364.6%20329.1%20402.3-34.4%209.2-70.6%2014.4-108.1%2014.4-26.5%200-52.1-2.6-77.2-7.6%2052.2%20163.1%20203.7%20281.7%20383.2%20284.9C467%202576%20290.1%202641.3%2097.9%202641.3c-33.1%200-65.7-2-97.9-5.6%20181.6%20116.6%20397.2%20184.6%20628.9%20184.6%20754.7%200%201167.3-625.1%201167.3-1167.3l-1.4-53.1c80.6-57.5%20150.3-129.7%20205.2-212z%22%2F%3E%3C%2Fsvg%3E',
),
'social_twitter': (
	name: '.icon-social_twitter',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%201187.7%202000%201644.3%22%3E%3Cpath%20fill%3D%22%23FD0%22%20d%3D%22M2000%201387.9c-73.6%2032.6-152.6%2054.7-235.6%2064.6%2084.7-50.7%20149.6-131.2%20180.3-226.8-79.5%2047-167.2%2081.1-260.7%2099.6-74.9-79.9-181.3-129.6-299.4-129.6-226.6%200-410.3%20183.7-410.3%20410.2%200%2032.1%203.6%2063.5%2010.6%2093.5-340.9-17.1-643.3-180.5-845.6-428.7-35.4%2060.5-55.5%20131-55.5%20206.2%200%20142.3%2072.5%20268%20182.5%20341.4-67.2-2.2-130.5-20.7-185.8-51.5v5.1c0%20198.7%20141.5%20364.6%20329.1%20402.3-34.4%209.2-70.6%2014.4-108.1%2014.4-26.5%200-52.1-2.6-77.2-7.6%2052.2%20163.1%20203.7%20281.7%20383.2%20284.9C467%202576%20290.1%202641.3%2097.9%202641.3c-33.1%200-65.7-2-97.9-5.6%20181.6%20116.6%20397.2%20184.6%20628.9%20184.6%20754.7%200%201167.3-625.1%201167.3-1167.3l-1.4-53.1c80.6-57.5%20150.3-129.7%20205.2-212z%22%2F%3E%3C%2Fsvg%3E',
),
'tires': (
	name: '.icon-tires',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-49%20141%20512%20512%22%3E%3Cpath%20d%3D%22M266.733%20653H147.267c-98.987%200-179.2-115.2-179.2-256s80.213-256%20179.2-256h119.467c98.987%200%20179.2%20115.2%20179.2%20256S365.72%20653%20266.733%20653zM147.267%20158.067c-89.6%200-162.133%20107.52-162.133%20238.933s72.533%20238.933%20162.133%20238.933h119.467c89.6%200%20162.133-107.52%20162.133-238.933s-72.533-238.933-162.133-238.933H147.267z%22%2F%3E%3Cpath%20d%3D%22M276.12%20653c-.853%200-.853%200%200%200-87.04-7.68-154.453-119.467-154.453-256%200-135.68%2067.413-248.32%20153.6-256h1.707c93.867%207.68%20168.107%20119.467%20168.96%20254.293V397c0%2017.067-1.707%2034.133-3.413%2050.347C426.307%20562.547%20358.04%20646.173%20276.12%20653zm0-494.933c-76.8%207.68-137.387%20111.787-137.387%20238.933s59.733%20231.253%20137.387%20238.933c73.387-5.973%20134.827-84.48%20150.187-190.293%201.707-16.213%203.413-32.427%203.413-48.64l8.533-.853-8.533-.853C428.013%20269%20361.453%20165.747%20276.12%20158.067z%22%2F%3E%3Cpath%20d%3D%22M283.8%20584.733c-57.173%200-102.4-82.773-102.4-187.733s45.227-187.733%20102.4-187.733S386.2%20292.04%20386.2%20397s-45.227%20187.733-102.4%20187.733zm0-358.4c-46.08%200-85.333%2078.507-85.333%20170.667S237.72%20567.667%20283.8%20567.667%20369.133%20489.16%20369.133%20397%20329.88%20226.333%20283.8%20226.333z%22%2F%3E%3Cpath%20d%3D%22M209.56%20515.613h-1.707c-2.56-.853-5.12-2.56-5.973-5.12C188.227%20477.213%20181.4%20437.96%20181.4%20397s6.827-80.213%2020.48-113.493c.853-2.56%203.413-4.267%205.973-5.12%202.56-.853%205.973%200%207.68%202.56%2020.48%2020.48%2034.133%2065.707%2034.133%20116.053s-13.653%2095.573-34.133%20116.053c-1.706%201.707-3.413%202.56-5.973%202.56zm2.56-211.626c-9.387%2027.307-13.653%2059.733-13.653%2093.013s5.12%2064.853%2013.653%2093.013c12.8-21.333%2020.48-55.467%2020.48-93.013s-7.68-71.68-20.48-93.013zM160.931%20141.979c.982-.448%202.168-.443%203.358-.436%201.54.121%202.727.811%203.489%201.821.755%201.014%201%202.379.77%203.825%200%200-.949%204.45-1.775%208.888-.839%204.439-1.579%208.869-1.579%208.869-.507%201.331-1.47%202.868-2.843%203.538-1.379.662-2.965.893-4.315.467l-2.436-.768-5.386-1.63-5.437-1.553-2.488-.673s-1.34%203.917-2.52%207.835c-.608%201.943-1.142%203.922-1.549%205.375-.407%201.456-.647%202.432-.647%202.432-.338%201.359-1.123%202.413-2.168%203.049-1.014.649-2.281.885-3.641.589l-.673-.145-1.831-.319-5.582-.938c-4.064-.678-8.151-1.293-8.151-1.293s-.891%204.049-1.653%208.072c-.775%204.031-1.341%208.001-1.341%208.001-.297%202.079-2.264%204.218-4.656%204.305%200%200-4.114-.133-8.314.095-4.195.19-8.499.83-8.499.83-2.833.904-5.451-.607-6.144-3.491-.722-2.893%201.364-5.765%204.432-6.639l2.103-.189c1.27-.084%202.926-.204%204.589-.243%203.31-.117%206.55-.019%206.55-.019l.4-2.673c.259-1.598.63-3.753%201.049-5.895.828-4.3%201.802-8.59%201.802-8.59.64-2.868%203.323-4.716%206.195-4.291%200%200%204.309.637%208.575%201.338%202.12.345%204.294.699%205.891.989l2.645.494.683-2.487c.416-1.501.997-3.511%201.623-5.497a216.753%20216.753%200%200%201%201.774-5.494l.847-2.497c.957-2.773%203.863-4.341%206.688-3.582%200%200%203.708.973%207.356%202.032%203.656%201.054%207.257%202.169%207.257%202.169l.954-5.923%201.032-5.93c1.038-1.573%202.093-3.148%203.566-3.818z%22%2F%3E%3Cpath%20d%3D%22M59.08%20276.188c-.38.957-1.218%201.741-2.018%202.509-1.125.919-2.392%201.249-3.605%201.004-1.214-.239-2.505-.656-3.405-1.843%200%200-.669-.919-1.599-2.384a113.9%20113.9%200%200%201-3.302-5.513c-2.328-4.097-4.435-8.383-4.435-8.383-.41-1.512-.533-3.581.251-5.222.773-1.65%202.04-3.037%203.444-3.672%200%200%201.014-.456%202.55-1.1%201.538-.644%203.549-1.503%205.605-2.293%204.071-1.616%208.161-3.038%208.161-3.038l-.513-2.67-1.012-5.908c-.368-2.174-.661-4.331-.896-5.973l-.376-2.739c-.403-3.055%201.564-6.048%204.501-6.93%200%200%204.276-1.266%208.495-2.372a348.682%20348.682%200%200%201%205.833-1.424c1.569-.377%202.644-.588%202.644-.588l-.155-2.704a132.474%20132.474%200%200%201-.214-6.017c-.039-2.201-.054-4.438.001-6.104l.079-2.807c.078-2.347%202.228-5.471%205.039-6.221%200%200%204.737-1.055%209.477-1.674a88.788%2088.788%200%200%201%206.473-.639c1.764-.093%202.91-.093%202.91-.093%201.592-.261%202.937.221%203.725%201.176.726%201%201.381%202.174%201.497%203.57.255%202.772-1.667%204.865-4.595%205.514%200%200-.81.003-2.033.077-1.23.056-2.884.173-4.546.357-1.678.158-3.344.398-4.611.583l-2.119.322-.08%202.83c-.05%201.675-.047%203.923.002%206.145.028%202.201.149%204.427.241%206.066l.168%202.719c.239%202.939-1.709%205.409-4.548%206.034l-2.693.572c-1.635.338-3.765.868-5.931%201.413-4.349%201.067-8.673%202.365-8.673%202.365s.556%204.296%201.276%208.536c.338%202.112.713%204.214%201.021%205.789l.504%202.607c.559%202.888-1.026%205.701-3.811%206.664l-2.276.805a174.627%20174.627%200%200%200-5.011%201.86%20175.18%20175.18%200%200%200-5.004%201.995l-2.275.954.879%201.709%201.985%203.715c1.466%202.682%203.009%205.27%203.009%205.27.259%201.874.544%203.709-.034%205.151z%22%2F%3E%3Cpath%20d%3D%22M37.659%20368.538c-.017%201.065-.531%202.127-1.016%203.173-.735%201.3-1.813%202.094-3.036%202.302-1.222.221-2.579.212-3.833-.613%200%200-.94-.661-2.324-1.736a134.645%20134.645%200%200%201-5.017-4.101%20200.071%20200.071%200%200%201-7.099-6.39c-.901-1.283-1.772-3.214-1.605-5.054.141-1.847.822-3.634%201.926-4.744l1.985-1.98a345.605%20345.605%200%200%201%204.432-4.234l4.498-4.08a15292%2015292%200%200%200%202.073-1.805l-1.413-2.356c-.859-1.423-1.947-3.329-3.033-5.265a203.353%20203.353%200%200%201-2.941-5.374l-1.303-2.476c-1.477-2.777-.63-6.357%201.805-8.264l2.229-1.703%204.919-3.647c3.634-2.598%207.257-5.008%207.257-5.008l-1.076-2.518c-.631-1.518-1.52-3.577-2.289-5.653-1.623-4.155-3.002-8.509-3.002-8.509-.38-1.135-.331-2.633.126-4.071.432-1.438%201.27-2.814%202.467-3.679%200%200%204.098-2.727%208.361-5.042a88.03%2088.03%200%200%201%205.894-2.964c1.634-.731%202.719-1.149%202.719-1.149%201.417-.827%202.859-.858%203.933-.243%201.031.682%202.052%201.556%202.637%202.839%201.187%202.535.079%205.224-2.464%206.912%200%200-.759.305-1.892.818a75.266%2075.266%200%200%200-4.168%201.999c-1.534.76-3.006%201.605-4.147%202.237-1.14.633-1.879%201.082-1.879%201.082l.895%202.719c.524%201.609%201.326%203.759%202.123%205.848.782%202.083%201.687%204.171%202.325%205.691a96.825%2096.825%200%200%200%201.109%202.536%205.775%205.775%200%200%201%20.281%204.106c-.403%201.305-1.217%202.505-2.47%203.304l-2.339%201.524c-1.398.928-3.219%202.207-5.073%203.512a168.342%20168.342%200%200%200-5.04%203.687l-2.279%201.726%201.276%202.42%202.904%205.254c1.045%201.887%202.181%203.759%202.996%205.144l1.38%202.299c1.582%202.55%201.031%205.808-1.203%207.75%200%200-2.981%202.537-5.883%205.215-2.915%202.663-5.768%205.476-5.768%205.476s2.287%202.117%204.595%204.14a239.055%20239.055%200%200%200%204.678%203.958c.893%201.714%201.812%203.375%201.769%204.987zM170.126%20634.988c.871.55%201.481%201.515%202.09%202.48%201.391%202.616.258%205.387-2.355%206.654l-16.668%206.928c-1.408.271-3.258.262-4.577-.581-1.32-.841-2.373-2.101-2.72-3.491l-1.975-7.997-1.932-7.995-8.1%201.463-8.136%201.402c-2.837.479-5.472-1.294-6.112-4.102l-1.774-8.065c-.874-4.032-1.683-8.06-1.683-8.06s-4.057.604-8.183%201.099c-4.113.497-8.344.814-8.344.814-2.199.16-5.171-1.552-5.942-4.163%200%200-1.085-4.442-1.786-8.856-.738-4.42-1.022-8.74-1.022-8.74-.667-2.943%201.268-5.204%204.083-5.756%202.806-.525%205.058%201.133%205.748%203.856l.128%201.939c.107%201.152.238%202.732.451%204.296.386%203.15.993%206.335.993%206.335l2.666-.211c1.606-.151%203.707-.362%205.813-.628%204.195-.513%208.355-1.167%208.355-1.167%202.765-.424%205.22%201.3%205.769%204.078%200%200%20.822%204.165%201.719%208.348l1.827%208.367%208.092-1.407%208.061-1.467c2.799-.518%205.379%201.162%206.04%203.932l3.538%2014.559%2010.961-4.684c1.836-.002%203.668-.005%204.975.82z%22%2F%3E%3Cpath%20d%3D%22M37.528%20527.904c-.453-1.167-.44-2.504-.404-3.88.155-1.754.91-3.045%201.957-3.823%201.052-.772%202.503-.627%203.946-.177%200%200%201.113.446%202.788%201.002%201.67.567%203.894%201.246%206.129%201.859a172.136%20172.136%200%200%200%208.918%202.19c1.324.591%202.883%201.639%203.563%203.091.666%201.455.954%203.111.536%204.522%200%200-.297%201.011-.703%202.538-.405%201.526-.968%203.594-1.449%205.664-1.016%204.154-1.862%208.399-1.862%208.399l2.538.916%205.611%201.897c2.018.678%204.085%201.298%205.607%201.765l2.54.764c2.828.833%204.6%203.574%204.146%206.495%200%200-.631%204.151-1.139%208.416a340.125%20340.125%200%200%200-.596%205.867c-.159%201.624-.218%202.692-.218%202.692l2.647.575c1.577.341%203.675.77%205.788%201.124%202.101.368%204.171.707%205.745.899l2.591.329c2.161.26%204.575%202.247%204.945%204.746%200%200%20.331%204.326%201.069%208.665a81.677%2081.677%200%200%200%201.221%205.986c.41%201.623.749%202.72.749%202.72.688%201.441.795%202.811.476%204.064-.245%201.283-1.417%202.181-2.967%202.618-3.134.872-6.621-1.254-7.904-4.432%200%200-.212-.878-.459-2.195a81.08%2081.08%200%200%201-.808-4.778c-.264-1.715-.445-3.443-.576-4.721l-.205-2.122-2.798-.361a130.163%20130.163%200%200%201-6.214-.981c-2.288-.39-4.534-.868-6.245-1.234l-2.861-.629c-3-.719-5.259-3.649-5.011-6.756%200%200%20.276-4.627.816-9.18.25-2.274.509-4.509.759-6.201l.399-2.798s-4.162-1.22-8.301-2.612a187.095%20187.095%200%200%201-5.712-1.961l-2.598-.938c-2.905-1.049-4.658-4.213-4.058-7.231l.508-2.474c.302-1.475.728-3.438%201.192-5.392.451-1.947.924-3.875%201.309-5.321l.633-2.39s-3.011-.615-6.049-1.329a195.275%20195.275%200%200%201-6.068-1.541c-1.618-1.279-3.24-2.606-3.921-4.346z%22%2F%3E%3Cpath%20d%3D%22M13.624%20429.501c-.018-1.252.46-2.501.972-3.778.756-1.591%201.913-2.538%203.165-2.902%201.255-.358%202.565.284%203.761%201.207%200%200%20.888.806%202.265%201.91a112.685%20112.685%200%200%200%205.098%203.876%20171.58%20171.58%200%200%200%207.598%205.157c1.036%201.014%202.132%202.54%202.264%204.137.118%201.596-.189%203.249-1.072%204.426%200%200-.631.844-1.542%202.135-.91%201.29-2.159%203.032-3.331%204.805a228.44%20228.44%200%200%200-4.669%207.225l2.06%201.742%204.599%203.732c1.656%201.338%203.378%202.639%204.642%203.606l2.115%201.6c2.361%201.766%203.068%204.952%201.626%207.532%200%200-2.037%203.672-3.998%207.493a350.742%20350.742%200%200%200-2.601%205.292c-.714%201.467-1.141%202.448-1.141%202.448l2.281%201.46c1.36.869%203.177%202.001%205.035%203.069%201.841%201.077%203.664%202.115%205.072%202.843l2.314%201.21c1.935.996%203.507%203.699%202.984%206.171%200%200-1.196%204.17-2.015%208.495a81.888%2081.888%200%200%200-.939%206.036c-.181%201.664-.245%202.811-.245%202.811.143%201.59-.233%202.912-.968%203.976-.677%201.118-2.088%201.551-3.692%201.421-3.242-.274-5.771-3.48-5.866-6.906%200%200%20.107-.897.334-2.218.209-1.319.526-3.054.906-4.76.349-1.7.782-3.382%201.103-4.627l.546-2.06-2.497-1.313a129.438%20129.438%200%200%201-5.483-3.083c-2.009-1.162-3.948-2.392-5.425-3.331l-2.463-1.585c-2.562-1.718-3.66-5.251-2.346-8.078%200%200%201.87-4.241%203.96-8.322%201.026-2.045%202.047-4.05%202.87-5.549l1.348-2.485s-3.477-2.592-6.873-5.338a184.663%20184.663%200%200%201-4.672-3.827l-2.109-1.784c-2.358-1.995-2.9-5.571-1.287-8.191l1.338-2.142a187.05%20187.05%200%200%201%202.994-4.639%20180.553%20180.553%200%200%201%203.079-4.532l1.425-2.021s-2.608-1.624-5.208-3.352c-2.59-1.718-5.152-3.557-5.152-3.557-1.068-1.758-2.127-3.566-2.16-5.435z%22%2F%3E%3Cpath%20d%3D%22M19.859%20321.984c.196-1.228.872-2.375%201.558-3.525%201.956-2.839%204.976-2.97%207.094-.712%200%200%203.14%203.648%206.315%207.234l6.375%207.135c.794%201.345%201.506%203.282%201.245%205.073-.252%201.792-.996%203.514-2.134%204.575%200%200-3.284%203.046-6.523%206.147l-4.454%204.29-2.018%201.97s2.402%203.842%204.855%207.593a295.67%20295.67%200%200%200%204.989%207.392%206.694%206.694%200%200%201%201.159%204.206c-.11%201.458-.686%202.86-1.711%203.949l-1.864%201.996c-1.108%201.24-2.568%202.952-4.035%204.654l-5.815%206.88%205.54%207.132%205.578%207.079c1.458%201.841%201.925%205.489.439%207.914l-5.43%207.902-5.397%207.946c-1.462%203.06-4.406%203.707-6.878%201.861-2.471-1.84-2.975-5.538-1.499-8.61l8.394-11.618-5.844-7.418-5.809-7.478c-1.931-2.504-1.861-6.23.164-8.659l6.103-7.245a274.121%20274.121%200%200%201%204.287-4.938l1.998-2.172-1.612-2.329-3.459-5.206-3.385-5.288-1.516-2.423c-1.692-2.708-1.243-6.451%201.01-8.675l5.956-5.777%205.995-5.677-4.3-4.662-4.276-4.702c-.695-1.982-1.38-3.974-1.095-5.814zM203.654%20142.893c.863-.506%201.978-.584%203.091-.661%202.918.018%204.831%202.329%204.741%205.215l-.561%208.86-.467%208.84c-.338%201.341-1.084%202.936-2.337%203.682-1.249.751-2.752%201.08-4.094.743l-7.737-1.907-7.783-1.834s-.912%203.9-1.756%207.799c-.86%203.891-1.633%207.778-1.633%207.778-.543%202.705-2.916%204.268-5.645%203.732l-7.816-1.557c-3.908-.764-7.853-1.462-7.853-1.462s-.725%203.946-1.306%207.866c-.606%203.921-.983%207.785-.983%207.785-.223%202.014-1.994%204.061-4.311%204.08%200%200-3.954-.222-8.018-.107-4.051.083-8.218.576-8.218.576-2.729.79-5.323-.748-6.084-3.557-.787-2.816%201.145-5.537%204.084-6.313%200%200%203.272-.243%206.46-.262%203.201-.031%206.321.128%206.321.128s.423-4.145%201.087-8.344c.647-4.185%201.447-8.381%201.447-8.381.524-2.793%203.053-4.563%205.827-4.077%200%200%204.164.72%208.278%201.513l8.212%201.617s.796-3.924%201.672-7.85l1.795-7.861c.643-2.733%203.206-4.337%205.941-3.712l7.157%201.667%207.117%201.73.23-5.872.266-5.88c.785-1.608%201.579-3.217%202.876-3.974z%22%2F%3E%3Cpath%20d%3D%22M109.08%20276.188c-.38.957-1.218%201.741-2.018%202.509-1.125.919-2.392%201.249-3.605%201.004-1.214-.239-2.505-.656-3.405-1.843%200%200-.669-.919-1.599-2.384a113.9%20113.9%200%200%201-3.302-5.513c-2.328-4.097-4.435-8.383-4.435-8.383-.41-1.512-.533-3.581.251-5.222.773-1.65%202.04-3.037%203.444-3.672%200%200%201.014-.456%202.55-1.1%201.538-.644%203.549-1.503%205.605-2.293%204.071-1.616%208.161-3.038%208.161-3.038l-.513-2.67-1.012-5.908c-.368-2.174-.661-4.331-.896-5.973l-.376-2.739c-.402-3.055%201.564-6.048%204.501-6.93%200%200%204.276-1.266%208.495-2.372a348.682%20348.682%200%200%201%205.833-1.424c1.569-.377%202.644-.588%202.644-.588l-.155-2.704a132.474%20132.474%200%200%201-.214-6.017c-.039-2.201-.054-4.438.001-6.104l.079-2.807c.078-2.347%202.228-5.471%205.039-6.221%200%200%204.737-1.055%209.477-1.674a88.788%2088.788%200%200%201%206.473-.639c1.764-.093%202.91-.093%202.91-.093%201.592-.261%202.937.221%203.725%201.176.726%201%201.381%202.174%201.497%203.57.255%202.772-1.667%204.865-4.595%205.514%200%200-.81.003-2.033.077-1.23.056-2.884.173-4.546.357-1.678.158-3.344.398-4.611.583l-2.119.322-.08%202.83c-.05%201.675-.047%203.923.002%206.145.028%202.201.149%204.427.241%206.066l.168%202.719c.239%202.939-1.709%205.409-4.548%206.034l-2.693.572c-1.635.338-3.765.868-5.931%201.413-4.349%201.067-8.673%202.365-8.673%202.365s.556%204.296%201.276%208.536c.338%202.112.713%204.214%201.021%205.789l.504%202.607c.559%202.888-1.026%205.701-3.811%206.664l-2.276.805a174.627%20174.627%200%200%200-5.011%201.86%20175.18%20175.18%200%200%200-5.004%201.995l-2.275.954.879%201.709%201.985%203.715c1.466%202.682%203.009%205.27%203.009%205.27.259%201.874.544%203.709-.034%205.151z%22%2F%3E%3Cpath%20d%3D%22M87.659%20368.538c-.017%201.065-.531%202.127-1.016%203.173-.735%201.3-1.813%202.094-3.036%202.302-1.222.221-2.579.212-3.833-.613%200%200-.94-.661-2.324-1.736a134.645%20134.645%200%200%201-5.017-4.101%20200.071%20200.071%200%200%201-7.099-6.39c-.901-1.283-1.772-3.214-1.605-5.054.141-1.847.822-3.634%201.926-4.744l1.985-1.98a345.605%20345.605%200%200%201%204.432-4.234l4.498-4.08a15292%2015292%200%200%200%202.073-1.805l-1.413-2.356c-.859-1.423-1.947-3.329-3.033-5.265a203.353%20203.353%200%200%201-2.941-5.374l-1.303-2.476c-1.477-2.777-.63-6.357%201.805-8.264l2.229-1.703%204.919-3.647c3.634-2.598%207.257-5.008%207.257-5.008l-1.076-2.518c-.631-1.518-1.52-3.577-2.289-5.653-1.623-4.155-3.002-8.509-3.002-8.509-.38-1.135-.331-2.633.126-4.071.432-1.438%201.27-2.814%202.467-3.679%200%200%204.098-2.727%208.361-5.042a88.03%2088.03%200%200%201%205.894-2.964c1.634-.731%202.719-1.149%202.719-1.149%201.417-.827%202.859-.858%203.933-.243%201.031.682%202.052%201.556%202.637%202.839%201.187%202.535.079%205.224-2.464%206.912%200%200-.759.305-1.892.818a75.266%2075.266%200%200%200-4.168%201.999c-1.534.76-3.006%201.605-4.147%202.237-1.14.633-1.879%201.082-1.879%201.082l.895%202.719c.524%201.609%201.326%203.759%202.123%205.848.782%202.083%201.688%204.171%202.325%205.691a96.825%2096.825%200%200%200%201.109%202.536%205.775%205.775%200%200%201%20.281%204.106c-.403%201.305-1.217%202.505-2.47%203.304l-2.339%201.524c-1.398.928-3.219%202.207-5.073%203.512a168.342%20168.342%200%200%200-5.04%203.687l-2.279%201.726%201.276%202.42%202.904%205.254c1.045%201.887%202.181%203.759%202.996%205.144l1.38%202.299c1.582%202.55%201.031%205.808-1.203%207.75%200%200-2.981%202.537-5.883%205.215-2.915%202.663-5.768%205.476-5.768%205.476s2.287%202.117%204.595%204.14a239.055%20239.055%200%200%200%204.678%203.958c.893%201.714%201.812%203.375%201.769%204.987zM221.257%20634.921c.892.535%201.532%201.49%202.173%202.444%201.472%202.592.413%205.39-2.177%206.717l-8.292%203.646-8.336%203.592c-1.415.292-3.289.31-4.647-.521-1.36-.827-2.461-2.079-2.848-3.473l-2.201-8.008-2.13-8.009-8.153%201.523c-4.087.74-8.214%201.426-8.214%201.426a5.5%205.5%200%200%201-6.271-4.165l-.593-2.538-1.259-5.572-1.754-8.102s-4.089.588-8.244%201.061c-4.144.484-8.405.782-8.405.782-2.215.157-5.221-1.582-6.018-4.208%200%200-1.129-4.466-1.868-8.914a103.489%20103.489%200%200%201-.839-6.074l-.253-2.73c-.69-2.968%201.241-5.234%204.069-5.771%202.819-.51%205.096%201.172%205.812%203.917l.145%201.952c.115%201.161.262%202.75.488%204.325.415%203.17%201.052%206.374%201.052%206.374l2.687-.2a183.63%20183.63%200%200%200%205.856-.601c4.23-.496%208.421-1.128%208.421-1.128%202.79-.411%205.281%201.336%205.854%204.129%200%200%20.86%204.188%201.795%208.393.919%204.202%201.908%208.403%201.908%208.403s4.084-.68%208.141-1.432l8.088-1.529c2.808-.547%205.427%201.108%206.15%203.875l1.922%207.276%201.982%207.281%2010.928-4.871c1.848-.034%203.693-.071%205.031.73z%22%2F%3E%3Cpath%20d%3D%22M87.528%20527.904c-.453-1.167-.44-2.504-.404-3.88.155-1.754.91-3.045%201.957-3.823%201.052-.772%202.503-.627%203.946-.177%200%200%201.113.446%202.788%201.002%201.67.567%203.894%201.246%206.129%201.859a172.136%20172.136%200%200%200%208.918%202.19c1.324.591%202.883%201.639%203.563%203.091.666%201.455.954%203.111.536%204.522%200%200-.297%201.011-.703%202.538-.405%201.526-.968%203.594-1.449%205.664-1.016%204.154-1.862%208.399-1.862%208.399l2.538.916%205.611%201.897c2.018.678%204.085%201.298%205.607%201.765l2.54.764c2.828.833%204.6%203.574%204.146%206.495%200%200-.631%204.151-1.139%208.416a340.125%20340.125%200%200%200-.596%205.867c-.159%201.624-.218%202.692-.218%202.692l2.647.575c1.577.341%203.675.77%205.788%201.124%202.101.368%204.171.707%205.745.899l2.591.329c2.161.26%204.575%202.247%204.945%204.746%200%200%20.331%204.326%201.069%208.665a81.677%2081.677%200%200%200%201.221%205.986c.41%201.623.749%202.72.749%202.72.688%201.441.795%202.811.476%204.064-.245%201.283-1.417%202.181-2.967%202.618-3.134.872-6.621-1.254-7.904-4.432%200%200-.212-.878-.459-2.195a81.08%2081.08%200%200%201-.808-4.778c-.264-1.715-.445-3.443-.576-4.721l-.205-2.122-2.798-.361a130.163%20130.163%200%200%201-6.214-.981c-2.288-.39-4.534-.868-6.245-1.234l-2.861-.629c-3-.719-5.259-3.649-5.011-6.756%200%200%20.276-4.627.816-9.18.25-2.274.509-4.509.759-6.201l.399-2.798s-4.162-1.22-8.301-2.612a187.095%20187.095%200%200%201-5.712-1.961l-2.598-.938c-2.905-1.049-4.658-4.213-4.058-7.231l.508-2.474c.302-1.475.728-3.438%201.192-5.392.451-1.947.924-3.875%201.309-5.321l.633-2.39s-3.011-.615-6.049-1.329a195.275%20195.275%200%200%201-6.068-1.541c-1.618-1.279-3.24-2.606-3.921-4.346z%22%2F%3E%3Cpath%20d%3D%22M63.624%20429.501c-.018-1.252.46-2.501.972-3.778.756-1.591%201.913-2.538%203.165-2.902%201.255-.358%202.565.284%203.761%201.207%200%200%20.888.806%202.265%201.91a112.685%20112.685%200%200%200%205.098%203.876%20171.58%20171.58%200%200%200%207.598%205.157c1.036%201.014%202.132%202.54%202.264%204.137.118%201.596-.189%203.249-1.072%204.426%200%200-.631.844-1.542%202.135-.911%201.29-2.159%203.032-3.331%204.805a228.44%20228.44%200%200%200-4.669%207.225l2.06%201.742%204.599%203.732c1.656%201.338%203.378%202.639%204.642%203.606l2.115%201.6c2.361%201.766%203.068%204.952%201.626%207.532%200%200-2.037%203.672-3.998%207.493a350.742%20350.742%200%200%200-2.601%205.292c-.714%201.467-1.141%202.448-1.141%202.448l2.281%201.46c1.36.869%203.177%202.001%205.035%203.069%201.841%201.077%203.664%202.115%205.072%202.843l2.314%201.21c1.935.996%203.507%203.699%202.984%206.171%200%200-1.196%204.17-2.015%208.495a81.888%2081.888%200%200%200-.939%206.036c-.181%201.664-.245%202.811-.245%202.811.143%201.59-.233%202.912-.968%203.976-.677%201.118-2.088%201.551-3.692%201.421-3.242-.274-5.771-3.48-5.866-6.906%200%200%20.107-.897.334-2.218.209-1.319.526-3.054.906-4.76.349-1.7.782-3.382%201.103-4.627l.546-2.06-2.497-1.313a129.438%20129.438%200%200%201-5.483-3.083c-2.009-1.162-3.948-2.392-5.425-3.331l-2.463-1.585c-2.562-1.718-3.66-5.251-2.346-8.078%200%200%201.87-4.241%203.96-8.322%201.026-2.045%202.047-4.05%202.87-5.549l1.348-2.485s-3.477-2.592-6.873-5.338a184.663%20184.663%200%200%201-4.672-3.827l-2.109-1.784c-2.358-1.995-2.9-5.571-1.287-8.191l1.338-2.142a187.05%20187.05%200%200%201%202.994-4.639%20180.553%20180.553%200%200%201%203.079-4.532l1.425-2.021s-2.608-1.624-5.208-3.352c-2.59-1.718-5.152-3.557-5.152-3.557-1.068-1.758-2.127-3.566-2.16-5.435z%22%2F%3E%3Cpath%20d%3D%22M69.859%20321.984c.196-1.228.872-2.375%201.558-3.525%201.956-2.839%204.976-2.97%207.094-.712%200%200%203.14%203.648%206.315%207.234l6.375%207.135c.794%201.345%201.506%203.282%201.245%205.073-.252%201.792-.996%203.514-2.134%204.575%200%200-3.284%203.046-6.523%206.147l-4.454%204.29-2.018%201.97s2.402%203.842%204.855%207.593a295.67%20295.67%200%200%200%204.989%207.392%206.694%206.694%200%200%201%201.159%204.206c-.11%201.458-.686%202.86-1.711%203.949l-1.864%201.996c-1.108%201.24-2.568%202.952-4.035%204.654l-5.815%206.88%205.54%207.132%205.578%207.079c1.458%201.841%201.925%205.489.439%207.914l-5.43%207.902-5.397%207.946c-1.462%203.06-4.406%203.707-6.878%201.861-2.471-1.84-2.975-5.538-1.499-8.61l8.394-11.618-5.844-7.418-5.809-7.478c-1.931-2.504-1.861-6.23.164-8.659l6.103-7.245a274.121%20274.121%200%200%201%204.287-4.938l1.998-2.172-1.612-2.329-3.459-5.206-3.385-5.288-1.516-2.423c-1.692-2.708-1.243-6.451%201.01-8.675l5.956-5.777%205.995-5.677-4.3-4.662-4.276-4.702c-.695-1.982-1.38-3.974-1.095-5.814z%22%2F%3E%3C%2Fsvg%3E',
),
'truck_drive': (
	name: '.icon-truck_drive',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201468.1%20381.3%22%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M976.2%20246.6H225.8V26.3h750.4v220.3zm-736.5-13.9h722.5V40.2H239.7v192.5zM0%20367h1467.6v15.7H0z%22%2F%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M1350.1%20336.9h-59l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.4.3%205l1.9%2015.6H977.2l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-15.8%200-30%208.8-37.1%2023.1l-12.5%2024.7-12.4-24.7c-7.1-14.2-21.4-23.1-37.2-23.1-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.3.3%205l1.9%2015.6h-49.4l-24.2-104.8H973l11.1-81.4h8.6V11.5h50v48.9h66.3l116.8%2062.3L1243%20188l99.8%2018.1%207.3%20130.8zm-43.3-13.9h28.6l-5.9-105.1-97.7-17.8L1214%20132l-108.3-57.7h-59v90.3h-17.8V25.4h-22.2v139.2h-10.4L985.2%20246H743.1l17.8%2077h22.6c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5%2021.1%200%2040.1%2011.8%2049.6%2030.7%209.5-18.9%2028.5-30.7%2049.6-30.7%2030.6%200%2055.5%2024.9%2055.5%2055.5%200%202.2-.2%204.5-.4%206.6h203.7c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5s55.5%2024.9%2055.5%2055.5c0%202.2-.1%204.4-.4%206.6zM598.8%20336.9h-55.4l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-15.8%200-30%208.8-37.2%2023.1l-12.4%2024.7-12.4-24.7c-7.1-14.2-21.4-23.1-37.2-23.1-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.3.3%204.9l1.9%2015.6H316L291.8%20232h425.7l-20.4%2066.3h-89.5l-8.8%2038.6zM559.1%20323h28.6l8.9-38.5h90.3l11.8-38.5H309.3l17.8%2077h22.7c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5%2021.1%200%2040.1%2011.8%2049.6%2030.7%209.5-18.9%2028.5-30.7%2049.6-30.7%2030.6%200%2055.5%2024.9%2055.5%2055.5%200%202.2-.2%204.4-.5%206.6z%22%2F%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M895%20316.3c0%2024.1%2019.6%2043.7%2043.7%2043.7s43.7-19.6%2043.7-43.7-19.6-43.7-43.7-43.7c-24.2.1-43.7%2019.6-43.7%2043.7%22%2F%3E%3Cpath%20d%3D%22M938.6%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6.1%2027.9-22.6%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7.1-20.2-16.4-36.7-36.7-36.7z%22%2F%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M795%20316.3c0%2024.1%2019.6%2043.7%2043.7%2043.7s43.7-19.6%2043.7-43.7-19.6-43.7-43.7-43.7c-24.2.1-43.7%2019.6-43.7%2043.7%22%2F%3E%3Cpath%20d%3D%22M838.6%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6.1%2027.9-22.6%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7.1-20.2-16.4-36.7-36.7-36.7z%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M1252%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6%200%2027.9-22.7%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7%200-20.2-16.5-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M503.4%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6%200%2027.9-22.7%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7%200-20.2-16.5-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M403.4%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6%200%2027.9-22.7%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7%200-20.2-16.5-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E',
),
'truck_steer': (
	name: '.icon-truck_steer',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201468.1%20381.3%22%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M976.2%20246.6H225.8V26.3h750.4v220.3zm-736.5-13.9h722.5V40.2H239.7v192.5zM0%20367h1467.6v15.7H0z%22%2F%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M1350.1%20336.9h-59l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.4.3%205l1.9%2015.6H977.2l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-15.8%200-30%208.8-37.1%2023.1l-12.5%2024.7-12.4-24.7c-7.1-14.2-21.4-23.1-37.2-23.1-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.3.3%205l1.9%2015.6h-49.4l-24.2-104.8H973l11.1-81.4h8.6V11.5h50v48.9h66.3l116.8%2062.3L1243%20188l99.8%2018.1%207.3%20130.8zm-43.3-13.9h28.6l-5.9-105.1-97.7-17.8L1214%20132l-108.3-57.7h-59v90.3h-17.8V25.4h-22.2v139.2h-10.4L985.2%20246H743.1l17.8%2077h22.6c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5%2021.1%200%2040.1%2011.8%2049.6%2030.7%209.5-18.9%2028.5-30.7%2049.6-30.7%2030.6%200%2055.5%2024.9%2055.5%2055.5%200%202.2-.2%204.5-.4%206.6h203.7c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5s55.5%2024.9%2055.5%2055.5c0%202.2-.1%204.4-.4%206.6zM598.8%20336.9h-55.4l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-15.8%200-30%208.8-37.2%2023.1l-12.4%2024.7-12.4-24.7c-7.1-14.2-21.4-23.1-37.2-23.1-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.3.3%204.9l1.9%2015.6H316L291.8%20232h425.7l-20.4%2066.3h-89.5l-8.8%2038.6zM559.1%20323h28.6l8.9-38.5h90.3l11.8-38.5H309.3l17.8%2077h22.7c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5%2021.1%200%2040.1%2011.8%2049.6%2030.7%209.5-18.9%2028.5-30.7%2049.6-30.7%2030.6%200%2055.5%2024.9%2055.5%2055.5%200%202.2-.2%204.4-.5%206.6z%22%2F%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M1208.3%20316.3c0%2024.1%2019.6%2043.7%2043.7%2043.7s43.7-19.6%2043.7-43.7-19.6-43.7-43.7-43.7c-24.1.1-43.7%2019.6-43.7%2043.7%22%2F%3E%3Cpath%20d%3D%22M938.6%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6.1%2027.9-22.6%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7.1-20.2-16.4-36.7-36.7-36.7z%22%2F%3E%3Cpath%20d%3D%22M838.6%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6.1%2027.9-22.6%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7.1-20.2-16.4-36.7-36.7-36.7z%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M1252%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6%200%2027.9-22.7%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7%200-20.2-16.5-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M503.4%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6%200%2027.9-22.7%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7%200-20.2-16.5-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M403.4%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6%200%2027.9-22.7%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7%200-20.2-16.5-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E',
),
'truck_trailer': (
	name: '.icon-truck_trailer',
	width: 400px,
	height: 300px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201468.1%20381.3%22%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M976.2%20246.6H225.8V26.3h750.4v220.3zm-736.5-13.9h722.5V40.2H239.7v192.5zM0%20367h1467.6v15.7H0z%22%2F%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M1350.1%20336.9h-59l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.4.3%205l1.9%2015.6H977.2l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-15.8%200-30%208.8-37.1%2023.1l-12.5%2024.7-12.4-24.7c-7.1-14.2-21.4-23.1-37.2-23.1-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.3.3%205l1.9%2015.6h-49.4l-24.2-104.8H973l11.1-81.4h8.6V11.5h50v48.9h66.3l116.8%2062.3L1243%20188l99.8%2018.1%207.3%20130.8zm-43.3-13.9h28.6l-5.9-105.1-97.7-17.8L1214%20132l-108.3-57.7h-59v90.3h-17.8V25.4h-22.2v139.2h-10.4L985.2%20246H743.1l17.8%2077h22.6c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5%2021.1%200%2040.1%2011.8%2049.6%2030.7%209.5-18.9%2028.5-30.7%2049.6-30.7%2030.6%200%2055.5%2024.9%2055.5%2055.5%200%202.2-.2%204.5-.4%206.6h203.7c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5s55.5%2024.9%2055.5%2055.5c0%202.2-.1%204.4-.4%206.6zM598.8%20336.9h-55.4l1.9-15.6c.2-1.6.3-3.3.3-5%200-22.9-18.7-41.6-41.6-41.6-15.8%200-30%208.8-37.2%2023.1l-12.4%2024.7-12.4-24.7c-7.1-14.2-21.4-23.1-37.2-23.1-22.9%200-41.6%2018.7-41.6%2041.6%200%201.7.1%203.3.3%204.9l1.9%2015.6H316L291.8%20232h425.7l-20.4%2066.3h-89.5l-8.8%2038.6zM559.1%20323h28.6l8.9-38.5h90.3l11.8-38.5H309.3l17.8%2077h22.7c-.3-2.2-.4-4.4-.4-6.6%200-30.6%2024.9-55.5%2055.5-55.5%2021.1%200%2040.1%2011.8%2049.6%2030.7%209.5-18.9%2028.5-30.7%2049.6-30.7%2030.6%200%2055.5%2024.9%2055.5%2055.5%200%202.2-.2%204.4-.5%206.6z%22%2F%3E%3Cpath%20d%3D%22M838.6%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6.1%2027.9-22.6%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7.1-20.2-16.4-36.7-36.7-36.7z%22%2F%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M460.4%20316.3c0%2024.1%2019.6%2043.7%2043.7%2043.7s43.7-19.6%2043.7-43.7-19.6-43.7-43.7-43.7c-24.2.1-43.7%2019.6-43.7%2043.7%22%2F%3E%3Cpath%20d%3D%22M504%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6.1%2027.9-22.6%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7.1-20.2-16.4-36.7-36.7-36.7z%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M938.6%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6.1%2027.9-22.6%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7.1-20.2-16.4-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M360.4%20316.3c0%2024.1%2019.6%2043.7%2043.7%2043.7s43.7-19.6%2043.7-43.7-19.6-43.7-43.7-43.7c-24.2.1-43.7%2019.6-43.7%2043.7%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M404%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6.1%2027.9-22.6%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7.1-20.2-16.4-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M1252%20367c-27.9%200-50.6-22.7-50.6-50.6%200-27.9%2022.7-50.6%2050.6-50.6%2027.9%200%2050.6%2022.7%2050.6%2050.6%200%2027.9-22.7%2050.6-50.6%2050.6zm0-87.4c-20.3%200-36.7%2016.5-36.7%2036.7%200%2020.2%2016.5%2036.7%2036.7%2036.7%2020.2%200%2036.7-16.5%2036.7-36.7%200-20.2-16.5-36.7-36.7-36.7z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E',
),
'user_icon': (
	name: '.icon-user_icon',
	width: 473.679px,
	height: 473.313px,
	datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22473.679%22%20height%3D%22473.313%22%20viewBox%3D%2260.741%20176.794%20473.679%20473.313%22%3E%3Cg%20fill%3D%22%23010101%22%3E%3Cpath%20d%3D%22M280.925%20177.765c-29.117%203.774-54.999%2017.254-75.488%2038.283-21.568%2022.107-33.97%2051.225-35.588%2083.037-2.156%2050.686%2026.96%2098.674%2073.332%20120.243%2063.086%2029.656%20138.035%203.773%20168.77-58.234%2015.638-31.274%2017.794-65.783%206.471-98.674-10.245-29.117-32.352-55.538-59.852-70.096-23.186-12.942-51.764-17.795-77.645-14.559z%22%2F%3E%3Cpath%20d%3D%22M168.771%20458.15c-30.195%2015.637-44.754%2023.725-46.372%2025.344-1.617%201.617-3.774%204.852-4.853%207.008-3.235%206.471-54.999%20123.479-56.077%20126.713-1.617%206.471-.539%2015.098%203.235%2020.49%203.235%204.854%209.166%209.705%2014.559%2011.324%204.853%201.617%206.471%201.617%20219.994%201.078H514.4l4.313-2.158c11.323-5.391%2017.794-18.871%2015.098-30.195-1.078-3.234-49.067-113.232-55.538-126.172-3.774-8.09-5.392-9.168-52.303-33.432-23.725-12.402-43.675-22.646-44.754-22.646-1.617%200-3.774%201.078-10.244%205.393-24.804%2016.715-54.46%2024.803-83.037%2022.107-23.726-1.617-44.215-9.166-63.626-22.107-4.313-3.236-9.167-5.393-9.706-5.393-1.078-.001-21.569%2010.244-45.832%2022.646z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E',
),
);