.shop-sidebar {
	@include screen( phone ) {
		height: 0px;
		overflow: hidden;
		position: relative;
		top: -52px;
		margin-left: -$window-border;
		margin-right: -$window-border;
		padding-left: $window-border;
		padding-right: $window-border;
		background-color: #fff;
		z-index: 20;
		transition: all 1.6s;
		margin-bottom: 0;

		&.active {
			margin-bottom: -51px;
		}

		.widget-area {
			position: absolute;
		}
	}

	.widget-area {
		position: relative;
	}

	.mobile-filters-toggler + .widget {
		border: none;
	}

	.widget {
		padding: 20px 20px 20px 20px;
		border-top: 1px solid #f2f1f1;
		margin-left: -20px;

		.widget-title {
			font-size: 18px;
			@include font-brutal(medium);
		}

		.berocket_aapf_widget_show {
			display: none;
		} 

		ul {
			margin: 0;

			li {
				padding: 10px 0;
			}
		}
	}

	ul.berocket_aapf_widget {
		@include no-lst;

		display: block !important;

		& > li > span {
			display: inline-block;
			
			input[type="checkbox"],
			input[type="radio"] {
				display: none;

				& + label.berocket_label_widgets {
					display: inline-block;
					line-height: 20px;
					padding-left: 40px;
					position: relative;
					cursor: pointer;

					&:before {
						display: inline-block;
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						border: 1px solid #999;
						width: 20px;
						height: 20px;
						line-height: 18px;
						background-image: none;
						background-color: #fff;
						vertical-align: top;		
						margin-right: 20px;						
    					transition: all .1s ease;
    					border-radius: 0;
					}

					&:hover {

						&:before {
							background-color: #000;
							border-color: #000;
						}
					}

					&.berocket_checked {
						&:before {
							background-color: $color-yellow;
							border-color: $color-yellow;
						}

						&:hover {

							&:before {
								background: #000;
								border-color: #000;
							}
						}
					}
				}
			}


			input[type="radio"] + label.berocket_label_widgets:before {
				border-radius: 0;
			}

			input[type="radio"] + label.berocket_label_widgets:before {
				border-radius: 12px;
			}

		}

		&.text-inside {

			$w: 5px;

			font-size: 0;
			margin-left: -$w;
			margin-right: -$w;
			padding-top: $w;
			
			li {
				display: inline-block;
				padding: $w;
			}

			& > li > span {

				input[type="checkbox"] {

					& + label {

						width: 60px;
						height: 40px;
						line-height: 38px;
						text-align: center;
						border: 1px solid #999;
						padding: 0;
						font-size: 14px;
						color: #999999;
						cursor: pointer;
						transition: all .1s ease;

						&:before {
							display: none;
						}

						&:hover {
							color: #fff;
							background-color: #000;
							border-color: #000;
						}
						
						&.berocket_checked {
							color: #000;
							background-color: $color-yellow;
							border-color: $color-yellow;
						}
					}

				}
			}
		}

		.slider.price {
			input {
				padding: 5px;
				width: 60px;
				height: 40px;
				text-align: center;
				font-style: normal;
				@include font-brutal;
				border: 1px solid #999999;
				color: #999999;
			}
		}

		.slide {
			padding-top: 20px;
			margin-left: 7px;
			margin-right: 2px;

			&:before {
				display: block;
				height: 1px;
				width: 100%;
				overflow: hidden;

			}
		}

	}

	div.berocket_aapf_widget {
		margin: 0;
	}

	.berocket_aapf_reset_button,
	.mobile-filters-close button {
		display: none;
	}

	@include screen( phone ) {
		.widget {
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
		}
		div.berocket_aapf_widget {
			margin-left: 50%;
			padding-left: $grid-gutter-width/4;
		}
		.berocket_aapf_reset_button,
		.mobile-filters-close button {
			@include font-brutal( bold );

			display: block;
			border: none;
			font-size: 18px;
			text-align: center;
			height: 70px;
			line-height: 70px;
			padding: 0;
			cursor: pointer;
			width: 100%;
		}

		.berocket_aapf_reset_button {
			background-color: #fff;
		}

		.mobile-filters-toggler {
			span {
				@include sprite-svg( filter_yellow );
			}
		}

		.mobile-filters-close {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 50%;
			padding-right: $grid-gutter-width/4;

			button {
				background-color: $color-yellow;
			}
		}

	}
}