#shop-top-filters {
	background: #fff;
	font-size: 0;

	@include screen( phone ) {
		display: none;
	}

	.wrapper {
		max-width: $wrapper + $window-border*4;
	}
}

.mobile-top-filters {
	border-bottom: 1px solid $color-bg-gray;

	margin-left:  -$window-border;
	margin-right: -$window-border;
	padding-left:  $window-border;
	// padding-right: $window-border;

	white-space: nowrap;
	max-height: 38px;
	overflow: hidden;
	position: relative;

	&.active-dots {
		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			right: $window-border * 2;
			width: $window-border;
			z-index: 10;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
		&:after {
			content: '...';
			display: block;
			position: absolute;
			top: 0;
			height: 100%;
			right: 0;
			width: $window-border * 2;
			text-align: center;
			background-color: #fff;
			padding-top: 6px;
		}
	}

	@include screen( phone-up ) {
		display: none;
	}
}

#shop-top-filters {
	// not used
	.berocket_aapf_widget_selected_area {
		font-size: 14px;

		> ul {
			display: none;
		}

		ul {
			@include no-lst;
		}

		a {
			display: inline-block;
			position: relative;
			padding: 8px 25px 8px 0;
			margin: 3px 30px 3px 0;
			border-radius: 0;
			border: none;

			&:after {
				content: "\d7";
				color: $color-yellow;
				font-size: 30px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -17px;
			}

			&:hover {
				text-decoration: line-through;

				&:after {
					color: $color-text;
				}
			}

			.fa {
				display: none;
			}	
		}

		.berocket_aapf_widget_selected_filter {
			> span {
				display: none;
			}
		}

	}
}

.shop-top-filters-sidebar {
	* {
		display: inline;
	}

	.widget-title,
	.berocket_aapf_widget-title_div {
		display: none;
	}

	.berocket_aapf_widget {
		margin: 0;
		display: inline !important;

		li, 
		span {
			display: inline;

			label {
				display: none;
				font-size: 14px;
				height: 30px;
				line-height: 14px;
				padding: 8px 25px 8px 0;
				margin: 3px 30px 3px 0px;
				transition: all .1s ease;
			}

			input[type="checkbox"],
			input[type="radio"] {
				display: none;
			}

			label.berocket_checked {
				display: inline-block;
				position: relative;
				cursor: pointer;

				&:before {
					display: none;
				}

				&:after {
					content: "\d7";
					color: $color-yellow;
					font-size: 30px;
					height: 30px;
					line-height: 30px;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -18px;
				}

				&:hover {
					text-decoration: line-through;

					&:after {
						color: $color-text;
					}
				}
			}
		}
	}

	#shop-top-filters.single-view & {
		span {
			label.berocket_checked {
				&:after {
					color: #ccc;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.mobile-filters-toggler {
	position: absolute;
	top: 5px;
	right: -10px;
	cursor: pointer;
	z-index: 10;
	padding: 10px;

	span {
		@include sprite-svg( filter_black );
		
		width: 18px;
		height: 20px;
		display: block;
	}

	@include screen( phone-up ) {
		display: none;
	}
}