.woocommerce-ordering {
	height: 21px;

	select {
		display: none;
	}

	.site-content & {
		right: 100px;
		top: -51px;
		bottom: auto;
	}

	.price-order {
		@include font-brutal( medium );
		text-transform: uppercase;
		cursor: pointer;

		.arrow {
			display: inline-block;
			vertical-align: middle;
			width: 17px;
			height: 9px;
			margin-bottom: 2px;
		}

		&.price {
			.arrow {
				@include sprite-svg( arrow-down );
			}
		}

		&.price-desc {
			.arrow {
				@include sprite-svg( arrow-up );
			}
		}		
	}
}