.product-quantity {

	a {
		display: none;
	}
	.quantity-block {

		background: #f2f2f2;
		padding: 10px;
		font-size: 0;

		.left-col,
		.right-col {
			display: inline-block;
			vertical-align: top;
			white-space: nowrap;
			font-size: 0;

			> * {
				display: inline-block;
				vertical-align: top;
			}
		}

		.right-col {
			margin-left: 10px;
			position: relative;

			&:before {
				content: '';
			}
		}

		&.loading {
			.right-col {
				&:before {
					position: absolute;
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					background-color: rgba( 255, 255, 255, .2 );
					z-index: 10;
				}
			}
		}

		.quantity {
			// overflow: hidden;
			position: relative;
			padding: 0 50px;

			span.btn {
				@include no-selection;

				display: block;
				width:  40px;
				height: 40px;
				line-height: 38px;
				text-align: center;
				font-size: 30px;
				border: 1px solid #999;
				cursor: pointer;
				position: absolute;
				top: 0;
				overflow: hidden;

				&.count-down {
					left: 0;
				}

				&.count-up {
					right: 0;

					&:after {
						width: 1px;
						height: 13px;
						margin-top: -6px;
					}
				}

				&:hover {
					background: #000;
					border-color: #000;

					&:before,
					&:after {
						background-color: #fff;
					}
				}

				&.disable {
					@include opacity(0.3);

					cursor: default;

					&:hover {
						background: none;
						border-color: #999;

						&:before,
						&:after {
							background-color: #000;
						}
					}
				}

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					background-color: #000;
					left: 50%;
					top: 50%;
				}

				&:before {
					width: 13px;
					margin-left: -6px;
					height: 1px;
				}

			}			

			input {
				height: 40px;
				border: 1px solid #999;
				width: 100%;
				text-align: center;
				padding: 0;
				background: #fff;
			}
		}

		.button {
			width: 80px;
			height: 40px;
			padding: 0;
			margin: 0;
			border: none;
			cursor: pointer;
			background-color: $color-yellow;

			&:before {
				@include sprite-svg( cart_icon );

				content: "";
				display: inline-block;
				width: 23px;
				height: 22px;
				vertical-align: middle;
			}

			&:after {
				animation: spin 0.6s normal infinite linear;
				animation-play-state: paused;
				content: '';
			}

			@include screen( phone-up ) {
				&:hover {
					background-color: #000;

					&:before {
						@include sprite-svg( cart_icon_white );
					}
				}
			}


			&.loading {
				&:before,
				&:after {
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;
				}

				&:before {
					background: none;
					width: 22px;
					height: 22px;
					border: 3px solid #000;
					border-radius: 22px;
					margin-left: -11px;
					margin-top: -11px;
				}
				&:after {
					animation-play-state: running;
					border: 3px solid #000;
					border-left-color: $color-yellow;
					border-right-color: $color-yellow;
					width: 14px;
					height: 14px;
					border-radius: 14px;
					margin-left: -7px;
					margin-top: -7px;
				}

				@include screen( phone-up ) {
					&:hover {
						&:before {
							border-color: $color-yellow;
						}
					}
				}
			}
		}

		@keyframes spin {
			0% {
				transform: rotate( 0deg );
			}
			100% {
				transform: rotate( 360deg );
			}
		}

		a.button {
			text-align: center;
			line-height: 40px;
		}
	}

	.stock {
		display: none;
	}
}

.post-type-archive-product {
	.quantity-block {

		.button { 
			.button-text {
				display: none;
			}
		}

		label {
			display: none;
		}

	}
}