input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
	@include font-brutal( normal );

	/*width: 390px;*/
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background: #fff;
	border: solid 1px #999;	
	font-size: 16px;
	max-width: 100%;
}

select {
	padding-right: 0;
}

textarea {
	@include font-brutal( normal );

	padding: 10px 15px;
	background: #fff;
	border: solid 1px #999;	
}



form.woocommerce-form,
form.login {
	.form-row {
		font-size: 16px;

		abbr {
			display: none;
		}

		& > label:first-child {

			display: block;
			line-height: 18px;
			padding-bottom: 10px;
		}

		.select2-container {
			max-width: 390px;
			height: 40px;
			line-height: 40px;

			.select2-choice {
				border: solid 1px #999;	
				border-radius: 0;
			}
		}
	}

	.ship-bill-checkbox {
		font-size: 16px;

		input[type="checkbox"]{
			display: none;

			& + label {
				position: relative;
				display: inline-block;
				padding-left: 40px;
				cursor: pointer;

				&:before {
					content: "";
					width: 24px;
					height: 24px;
					border: 1px solid #999;
					position: absolute;
					left: 0;
					top: 0;			
				}

				&:after {
					content: "";
					vertical-align: top;
					width: 17px;
					height: 13px;
					@include sprite-svg ( check );
					position: absolute;
					left: 4px;
					top: 6px;						

				}					
			}

			&:checked + label:after {
				display: none;
			}
		}	
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	textarea,
	select {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		max-width: 390px;


	}

	.fields {
		
	}

}

form.woocommerce-EditAccountForm {
	.fields {
		margin-top: -10px;

		fieldset {
			.form-row {
				.desc {
					font-size: 12px;
				}
			}
		}

		.form-submit {
			padding-top: 20px;
		}
	}
	legend {
		@include font-brutal( bold );

		margin-bottom: 15px;
	}
}


@include screen( phone-up ) {
	$w: 100px;
	$b: $window-border;

	form.woocommerce-form {

		.fields {

			h3 {
				padding-left: $b;
				padding-right: $b;
			}

			.form-row  {
				font-size: 0;
				display: inline-block;
				vertical-align: top;
				padding: 0 $b 0 ( $b + $w );				

				&.place-order {
					padding-left: 0;
				}

				& > label:first-child {
					width: $w;
					padding-right: 5px;
					padding-bottom: 0;
					margin-left: -$w;
					display: inline-block;
					vertical-align: middle;
					font-size: 16px;
				}

				&#billing_address_1_field,
				&#shipping_address_1_field {
					width: 100%;

					input[type="text"]{
						max-width: 100%;
					}
				}
			}
			fieldset {
				$w2: 180px;

				.form-row {
					padding-right: 0;
					padding-left: $w2;
					width: 100%;

					& > label:first-child {
						font-size: 16px;
						width: $w2;
						margin-left: -$w2;
					}

					.desc {
						font-size: 12px;
					}
				}
				&.user-fields {
					.form-row {
						padding-left: $w2;

						& > label:first-child {
							width: $w2;
							margin-left: -$w2;
						}
					}
				}
			}
		}

		.checkout-button {
			float: right;
		}
	}

	.ship-bill-checkbox {
		padding-left: $w + $b;
	}	

}


@include screen( phone ) {
	.checkout-button {
		margin-left: 0;
	}

	form.woocommerce-form {
		.fields.row {
			margin-left: 0;
			margin-right: 0;
		}

		.form-row {
			padding-left: 0;
			padding-right: 0;

			& > label:first-child {
				width: 100%;
				padding-right: 0;
				margin-left: 0;
			}
		}

		fieldset {
			padding: 0;
			margin-top: 0;

			&.user-fields {
				legend {
					display: none;
				}
			}
		}

		.form-submit {
			padding-left: 0;
			padding-right: 0;
		}

		#billing_state_field,
		#shipping_state_field {
			padding-right: $window-border / 2;
			width: 60%;
			float: left;
		}

		#shipping_postcode_field,
		#billing_postcode_field {
			padding-left: $window-border / 2;
			width: 40%;
			float: left;
		}


		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		textarea,
		select {
			width: 100%;
			max-width: 100%;
		}		
	}
}

@include screen( 0, $screen-xs ) {
	.checkout-button {
		margin-left: 0;
		width: 100%;
	}
}