.link-back-to-shop {
	@include font-brutal( medium );

	&:before {
		@include sprite-svg( arrow );
		
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 29px;
		height: 16px;
		margin-right: 20px;
	}
}

.woocommerce-message {
	background: #c5f7bf;
}

.woocommerce-error {
	@include no-lst;

	margin-left: auto;
	margin-right: auto;
	background-color: #ffa6a6;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	@extend .wrapper;

	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: -20px;

	@include screen( phone ) {
		margin-top: 0;
		margin-bottom: 0;
	}

	.wc-forward {
		margin-right: 10px;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}


.woocommerce-message-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	height: 0;
	overflow: hidden;
	transition: height .5s;

	.wrapper {
		padding: 0;
	}

	&.active {
		display: block;
	}

	.woocommerce-message {
		margin-top: 0;
		margin-bottom: 0;
		width: auto;
		padding-left:  $window-border;
		padding-right: $window-border * 2 + 40;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.cart-link {
		position: absolute;
		padding: 12px $window-border 12px 35px;
		display: inline-block;
		right: 0px;
		top: 50%;
		margin-top: -22px;

		&:before {
			@include sprite-svg( cart_icon );

			content: '';
			display: inline-block;
			width: 23px;
			height: 22px;
		}

		span {
			position: absolute;
			line-height: 15px;
			top: 15px;
			left: 0;
			width: 30px;
			text-align: right;
		}
	}

	@include screen( phone-up ) {
		.woocommerce-message {
			margin-left: 245px;
		}
	}

	@include screen( phone ) {

	}
}

body.admin-bar.woocommerce-view-order {
	position: static;
}