#site-footer {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 24px;

	@include screen( phone ) {
		background-color: $color-bg-gray;
		// height: 190px;
	}

	@include screen( 600px, sm ) {
		$w: 225 + $grid-gutter-width;

		.footer-logo {
			width: $w;
			position: relative;
			z-index: 1;
		}
		.footer-meta {
			margin-left: -$w;
			padding-left: $w + $grid-gutter-width/2;
			width: 100%;
		}
	}

	@include screen( 0, 600px ) {
		.footer-logo,
		.footer-meta {
			float: none;
		}
	}

	.row-inline > * {
		vertical-align: middle;
	}

	.footer-logo {
		@include font-brutal( medium );

		margin-top: 8px;
		margin-bottom: 8px;

		&:before {
			@include sprite-svg( logo-footer );

			content: '';
			vertical-align: middle;
			width: 57px;
			height: 57px;
			display: inline-block;
			margin-right: 10px;
		}
	}

	.footer-meta {
		font-size: 15px;
		line-height: 24px;

		a,
		span {
			display: inline-block;
		}

		p {
			margin: 0;
		}
	}
}