.woocommerce-MyAccount-navigation {
	border-bottom: 1px solid $color-bg-gray;
	margin-bottom: 44px;

	@include screen( phone ) {
		.entry-content & {
			display: none;
		}
	}

	ul {
		@include no-lst;
		@include clearfix;

		font-size: 0;

		li {
			display: inline-block;
			vertical-align: bottom;

			&.is-active {
				a {
					border-color: $color-bg-gray;
					border-bottom-color: #fff;
				}
			}

			@include screen( phone-up ) {
				&.woocommerce-MyAccount-navigation-link--customer-logout {
					float: right;

					a {
						position: relative;
						display: inline-block;

						&:before {
							@include sprite-svg( logout );

							content: '';
							position: absolute;
							left: 13px;
							top: 15px;
							width: 16px;
							height: 16px;
						}
					}
				}
			}

		}

		a {
			@include font-brutal( bold );

			display: block;
			font-size: 16px;
			padding: 13px 40px 12px;
			border: 1px solid #fff;
			border-bottom-color: $color-bg-gray;
			text-transform: uppercase;
			margin-bottom: -1px;
		}
	}	
}