.woocommerce-orders-table {
	max-width: 728px;
	width: 100%;

	.woocommerce-MyAccount-orders {
		display: table;
		width: 100%;

		.table-head {
			@include font-brutal( bold );

			display: table-header-group;
			background-color: $color-bg-gray;
		}
		.table-body {
			display: table-row-group;
		}

		.table-col {
			display: table-cell;
			padding: 8px 0 8px 30px;
			border-bottom: 1px solid $color-bg-gray;

			&.order-actions {
				a {
					@include font-brutal( bold );

					color: $color-yellow;

					&:hover {
						color: #000;
					}
				}
			}
		}

		.table-row {
			display: table-row;

			&:hover {
				.table-col {
					background-color: #f9f9f9;
				}
			}
		}
	}

	@include screen( phone ) {
		margin-left:  -$window-border;
		margin-right: -$window-border;
		width: auto;

		.woocommerce-MyAccount-orders {

			.table-col {
				padding-left: $window-border;
			}
			.order-actions {
				padding-right: $window-border;
			}
		}
	}
}

.order-status {
	.status {
		background-color: #ffe2b8;
		display: inline-block;
		padding: 0 4px;
		font-size: 14px;
		line-height: 23px;

		&.cancelled {
			background-color: #ffb8b8;
		}
		&.completed {
			background-color: #c1f5ad;
		}
	}
}

.woocommerce-Pagination {
	@include clearfix;

	padding-top: 35px;
	padding-bottom: 25px;

	.woocommerce-Button--previous {
		float: left;
	}

	.woocommerce-Button--next {
		float: right;
	}

	@include screen( phone ) {
		padding-left:  $window-border;
		padding-right: $window-border;
	}
}