.woocommerce-view-order {
	position: relative;

	h2 {
		font-size: 20px;

		&.order-title {
			font-size: 26px;
			margin-bottom: 8px;
		}
	}

	.order-date {
		font-size: 14px;
		// color: $color-bg-gray;
		margin-bottom: 20px;
	}

	.order-status {
		position: absolute;
		right: 0;
		top: 1px;
	}
}