body.woocommerce {

	&.post-type-archive-product {
		.page-header {
			position: relative;

			@include screen( phone-up ) {
				padding-right: 200px;
			}

			@include screen( phone ) {
				padding-bottom: 0;
				z-index: 10;

				.mobile-filters-toggler {
					right: $window-border / 2;
				}
			}
		}
	}
}
.page-header-toolbar {
	@include clearfix;

	.gridlist-toggle {
		margin-top: 6px;
	}

	@include screen( phone ) {
		position: relative;

		background-color: $color-bg-gray;

		margin-left: -$window-border;
		margin-right: -$window-border;
		padding-left: $window-border;
		padding-right: $window-border;

		margin-top: 28px;

		.gridlist-toggle {
			margin-left: -10px;
		}

		.woocommerce-ordering {
			position: absolute;
			left: 42px + $window-border;
			top: 14px;
		}
	}

	@include screen( phone-up ) {
		position: absolute;
		right: $window-border;
		top: 0;
		height: 100%;

		&:before {
			content: '';
			width: 0px;
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}

		.woocommerce-ordering,
		.gridlist-toggle {
			display: inline-block;
			vertical-align: middle;
		}

		.gridlist-toggle {
			margin-left: 36px;
		}
	}
}