.gridlist-toggle {
	a {
		display: inline-block;
		padding: 10px;

		em {
			display: none;
		}

		&.active {
			span {
				background-color: $color-yellow;
			}
		}

		span {
			display: block;
			width: 24px;
			height: 20px;
			background-color: #000;
			position: relative;

			&:before,
			&:after {
				content: '';
				display: block;
				background-color: #fff;
				position: absolute;

			}
		}

		@include screen( phone ) {
			&.active {
				display: none;
			}

			span {
				&:before,
				&:after {
					background-color: $color-bg-gray;
				}
			}

		}
	}


	#list {
		span {
			&:before,
			&:after {
				left: 0;
				width: 100%;
				height: 4px;
			}

			&:before {
				top: 4px;
			}

			&:after {
				bottom: 4px;
			}
		}
	}

	#grid {
		span {
			&:before {
				left: 0;
				top: 8px;
				width: 100%;
				height: 4px;
			}

			&:after {
				left: 10px;
				top: 0;
				height: 100%;
				width: 4px;
			}
		}
	}
}